      <%
        if (all.length > 1) {
      %>
      <div class="indicator hidden-xs">
      	<div class="valign">
      		<div class="inner middle">
      			<div class="button-group">
              <%
                for (var i = 0; i < all.length; i++) {
              %>
			      	<a href="#campaign/<%= all[i].url %>" class="item uppercase">
			      		<div class="label">
			      			<div class="valign">
			      				<div class="inner middle">
						      		<%= all[i].title %>
			      				</div>
			      			</div>
			      		</div>
			      	</a>
              <%
                }
              %>
      			</div>
      		</div>
      	</div>
      </div>
      <% } %>
      <section class="header">
        <div class="image relative-xs">
          <img src="<%= apiUrl + 'uploads/' + detail.campaign.image %>" class="hidden-xs hidden-sm">
          <img src="<%= apiUrl + 'uploads/' + detail.campaign.image_mobile %>" class="visible-xs visible-sm">
        </div>
        <%
          if (detail.header_type != 'without-text') {
        %>
        <div class="absolute-content bar-title-xs text-center">
          <div class="valign">
            <div class="inner middle">
              <div class="row">
                <%
                  if (detail.header_type == 'text-right') {
                    var text_position = 'col-sm-5 col-sm-offset-5 text-left';
                  } else if (detail.header_type == 'text-left') {
                    var text_position = 'col-sm-5 col-sm-offset-1 text-right';
                  } else {
                    var text_position = 'col-sm-6 col-sm-offset-3 text-center';
                  }
                %>
                <div class="title <%= text_position %>">
                  <h1 class="uppercase"><%= detail.campaign.caption %></h1>
                  <!--
                  <p>by: Pocari Sweat</p>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </section>
      <section class="block" id="start-block">
      	<div class="container content-text medium">
          <div class="row" style="margin-bottom: 0px;">
            <div class="columns col-sm-8">
              <ol class="breadcrumb">
                <li><a href="#home">HOME</a></li>
                <li class="active uppercase"><%= detail.campaign.name %></li>
              </ol>
            </div>
            <div class="columns col-sm-4 text-right">
              <div class="share-area">
                <span>SHARE:</span>
                <div class="share-btn">
                  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                    <a class="a2a_button_facebook"><i class="fa fa-facebook"></i></a>
                    <a class="a2a_button_twitter"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div style="display: none;">
                    <script type="text/javascript">
                    var a2a_config = a2a_config || {};
                            //a2a_config.linkname = "";
                            //a2a_config.linkurl = "";              
                    </script>
                    <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                    <script type="text/javascript">var switchTo5x=true;</script>
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                  </div>
                </div>
              </div>
            </div>
          </div>
      	</div>
      </section>
      <section class="block">
        <%
          if (prev != null) {
        %>
        <div class="top-section">
          <a href="#campaign/<%= prev.url %>" class="btn-direction uppercase">
            <i class="fa fa-chevron-up"></i>
            <br/>
            BACK TO <%= prev.title %>
          </a>
        </div>
        <% } %>
      	<div class="container content-text medium">
          <%= detail.content %>
      	</div>
        <%
          if (next != null) {
        %>
	      <div class="bottom-section">
	      	<a href="#campaign/<%= next.url %>" class="btn-direction uppercase">
            SEE <%= next.title %>
            <br/>
            <i class="fa fa-chevron-down"></i>
          </a>
	      </div>
        <% } %>
      </section>
      <% if (related.length > 0) { %>
      <section class="block">
        <div class="container content-list medium">
          <h3 class="blue">RELATED ARTICLES</h3>
          <div class="row slide-horizontal">
            <%
              for (var c = 0; c < related.length; c++) {
                if (related[c].columns == 'small') {
            %>
            <div class="columns col-sm-3">
              <a href="#article/<%= related[c].url %>" class="content-thumb" title="<%= related[c].title %>">
                <div class="image">
                  <img src="images/thumbnail-sample.jpg" class="template">
                  <div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + related[c].image %>);"></div>
                </div>
                <div class="text">
                  <div class="title"><%= related[c].titleShort %></div>
                  <div class="subtitle"><%= related[c].caption %></div>
                  <div class="writer"><span class="blue"><%= related[c].writer %></span></div>
                </div>
              </a>
            </div>
            <%
                } else {
            %>
            <div class="columns col-sm-6">
              <a href="#article/<%= related[c].url %>" class="content-thumb highlight" title="<%= related[c].title %>">
                <div class="lable-top">HIGHLIGHT</div>
                <div class="image">
                  <img src="images/thumbnail-highlight-sample.jpg" class="template">
                  <div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + related[c].image %>);"></div>
                </div>
                <div class="text-content">
                  <div class="title"><%= related[c].title %></div>
                  <div class="caption"><%= related[c].caption %></div>
                  <div class="writer"><%= related[c].writer %></div>
                </div>
              </a>
            </div>
            <%
                }
              }
            %>
          </div>
        </div>
      </section>
      <% } %>