      <%
        if (detail.video != null) {
          %>
          <section class="block hide-bottom-border">
            <div class="container content-text medium vertical-padding">
              <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="<%= detail.video %>"></iframe>
              </div>
            </div>
          </section>
          <%
        }
      %>
      <section class="header">
        <%
          if (detail.header_type == 'text-right' || detail.header_type == 'text-left') {
            var bgPattern = 'hide-pattern';
            var bgOverlay = 'hide-overlay';
            var relativeImage = 'relative-xs';
            var barTitle = 'bar-title-xs';
          } else {
            var bgPattern = '';
            var bgOverlay = '';
            var relativeImage = '';
            var barTitle = '';
          }
        %>
        <%
          if (detail.header_type != 'without-text') {
        %>
        <div class="image <%= relativeImage %>">
          <img src="images/event-sample.jpg" class="template">
          <div class="absolute-image <%= bgPattern %>" style="background-image: url(<%= apiUrl + 'uploads/' + detail.image %>);"></div>
        </div>
      	<div class="absolute-content text-center <%= bgOverlay %> <%= barTitle %>">
      		<div class="valign">
      			<div class="inner middle">
		      		<div class="row">
                <%
                  if (detail.header_type == 'text-right') {
                    var text_position = 'col-sm-5 col-sm-offset-6 text-left';
                  } else if (detail.header_type == 'text-left') {
                    var text_position = 'col-sm-5 col-sm-offset-1 text-right';
                  } else {
                    var text_position = 'col-sm-8 col-sm-offset-2 text-center';
                  }
                %>
		      			<div class="<%= text_position %> title">
                  <!--
                  <%
                    if (detail.content.event_date) {
                  %>
		      				<div class="btn uppercase"><%= detail.content.event_date %></div>
                  <% } %>
                  -->
		      				<h1 class="uppercase"><%= detail.title %></h1>
                  <h3><%= detail.caption %></h3>
		      			</div>
		      		</div>
      			</div>
      		</div>
      	</div>
        <% } else {%>
        <div class="image relative-xs">
          <%
            if (detail.image_mobile) {
          %>
          <img src="<%= apiUrl + 'uploads/' + detail.image %>" class="hidden-xs">
          <img src="<%= apiUrl + 'uploads/' + detail.image_mobile %>" class="visible-xs">
          <%
            } else {
          %>
          <img src="<%= apiUrl + 'uploads/' + detail.image %>">
          <%
            }
          %>
          <% if(detail.content[0].countdown || typeof detail.content[0].countdown == 'object') { %>
            <% if(detail.content[0].countdown.title != null) { %>
              <section class="absolute-item block center-block grad-blue hide-bottom-border">
                <div class="col-sm-12 text-center">
                  <div class="container content-text medium small-padding">
                    <% if (detail.content[0].countdown.title && detail.content[0].countdown.countdown_date) { %>
                    <h4 class="text-uppercase" data-rel="<%= detail.content[0].countdown.countdown_date %>"><%= detail.content[0].countdown.title %></h4>
                      <% if (detail.content[0].countdown.countdown_date != '1970-01-01T00:00:00.000Z') { %>
                        <div id="countdown" class="countdown"></div>
                      <% } %>
                    <% } else %>
                    <% if (detail.content[0].countdown.btn_title && detail.content[0].countdown.btn_url) { %>
                    <a href="<%= detail.content[0].countdown.btn_url %>" target="_blank" class="btn white-grad <%= detail.content[0].countdown.btn_class %>"><i class="fa fa-user-circle"></i>  </i><%= detail.content[0].countdown.btn_title %></a>
                    <% } %>
                   <h4 class="countdown_note" data-rel="<%= detail.content[0].event_date %>"> SOLD OUT
                  <br> See you on <%= detail.content[0].event_date %></h4>
                  </div>
                </div>
              </section>
            <% } %>
          <% } %>
        </div>
        <% } %>
      </section>
      <div class="background-wrap" style="background-repeat:round;background-image: url(<%= apiUrl + 'uploads/' + detail.image_background %>)">
        <section class="block hide-ss-symbol" id="start-block">
          <div class="container content-text medium">
            <div class="row" style="margin-bottom: 0px;">
              <div class="columns col-sm-8 hidden-xs">
                <ol class="breadcrumb">
                  <li><a href="#home">HOME</a></li>
                  <li><a href="#home">EVENT</a></li>
                  <li class="active uppercase"><%= detail.title %></li>
                </ol>
              </div>
              <div class="columns col-sm-4 col-xs-12 text-right">
                <div class="share-area">
                  <span>SHARE:</span>
                  <div class="share-btn">
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                      <a class="a2a_button_facebook"><i class="fa fa-facebook"></i></a>
                      <a class="a2a_button_twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div style="display: none;">
                      <script type="text/javascript">
                      var a2a_config = a2a_config || {};
                              //a2a_config.linkname = "";
                              //a2a_config.linkurl = "";
                      </script>
                      <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                      <script type="text/javascript">var switchTo5x=true;</script>
                      <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <% if (detail.content.length > 0) { %>
        <section class="block hide-bottom-border">
          <div class="container content-text medium text-center medium-padding">
            <ul class="nav nav-tabs" role="tablist">
              <%
              for (var i = 0; i < detail.content.length; i++) {
                var navActive = '';
                if (i == 0) {
                  var navActive = 'active';
                }

                if (detail.content[i].status == '1') {
              %>
                <li role="presentation" class="<%= navActive %>" <%= i == 0 ? 'style=\"margin-left:3.2rem\"' : '' %>>
                  <a href="#<%= detail.content[i].slug %>" data-anchor="<%= detail.content[i].slug %>" data-type="<%= detail.content[i].type %>" aria-controls="<%= detail.content[i].slug %>" role="tab" data-toggle="tab"><%= detail.content[i].title %></a>
                </li>
              <%
                }
              }
              %>
            </ul>
          </div>
        </section>
        <% } %>
        <div class="tab-content">
        <%
        for (var i = 0; i < detail.content.length; i++) {
          var panActive = '';
          if (i == 0) {
            var panActive = 'active';
          }

          if (detail.content[i].status == '1') {
        %>
          <div role="tabpanel" class="tab-pane <%= panActive %>" id="<%= detail.content[i].slug %>">
          <%
          if (detail.content[i].type == 'a') {
          %>
            <%
              var topPadding = 'no-padding-top';
              if (detail.content[i].countdown) {

                topPadding = '';
            %>
            <!--section class="block grad-blue hide-bottom-border">
              <div class="background-pattern" style="background-image: url(images/run-countdown-bg.png);"></div>
              <div class="container content-text medium text-center medium-padding">
                <h2><%= detail.content[i].countdown.title %></h2>
                <div id="countdown" class="countdown"></div>
                <br/>
                <a href="<%= detail.content[i].countdown.btn_url %>" target="_blank" class="btn white-grad <%= detail.content[i].countdown.btn_class %>"><%= detail.content[i].countdown.btn_title %></a>
              </div>
            </section-->
            <% } %>
            <%
              if (detail.content[i].cta) {

                topPadding = '';
            %>
            <!--section class="block grad-blue hide-bottom-border">
              <div class="container content-text medium text-center medium-padding">
                <h2><%= detail.content[i].cta.text %></h2>
                <a href="<%= detail.content[i].cta.btn_url %>" target="<%= detail.content[i].cta.btn_target %>"" class="btn white-grad <%= detail.content[i].cta.btn_class %>"><%= detail.content[i].cta.btn_title %></a>
              </div>
            </section-->
            <% } %>
            <section class="block">
              <div class="container content-text <%= topPadding %> medium">
                <div class="row medium-padding content-columns">
                  <div class="columns col-md-4 col-xs-12">
                    <%
                    var sidebar = detail.content[i].left_sidebar;

                    for (var x = 0; x < sidebar.length; x++) {
                      if (sidebar[x].type == 'vertical') {
                    %>
                    <div class="side-bar vertical">
                      <h3><%= sidebar[x].title %></h3>
                      <div class="box">
                        <%
                          for (var z = 0; z < sidebar[x].list.length; z++) {
                        %>
                        <div class="field">
                          <div class="field-label"><%= sidebar[x].list[z].field %></div>
                          <%= sidebar[x].list[z].value.replace(new RegExp('src="uploads', 'gi'), 'src="' + apiUrl + 'uploads') %>
                        </div>
                        <%
                          }
                        %>
                      </div>
                    </div>
                    <%
                      } else {
                    %>
                    <div class="side-bar horizontal">
                      <div class="title"><%= sidebar[x].title %></div>
                      <%
                        for (var z = 0; z < sidebar[x].list.length; z++) {
                      %>
                      <div class="row">
                        <div class="columns col-xs-6 text-left"><%= sidebar[x].list[z].field %></div>
                        <div class="columns col-xs-6 text-right"><%= sidebar[x].list[z].value %></div>
                      </div>
                      <%
                        }
                      %>
                    </div>
                    <%
                      }
                    }
                    %>
                  </div>
                  <div class="columns col-md-8 col-xs-12 no-padding">
                    <div class="box-content">
                      <%= detail.content[i].body_content %>
                    </div>
                    <div class="row body-image">
                      <%
                      var m = 0;
                        for (var x = 0; x < detail.content[i].body_button.length; x++) {
													if(detail.content[i].body_button[x].btn_title && typeof detail.content[i].body_button[x].btn_title != 'undefined') {
                            var g = m++;
                            %>
                            <!-- <div class="columns col-md-4 <%= (g == 0 && g != x) ? 'col-centered col-md-12':'' %>" data-rel="<%= g %>"  data-val="<%= x %>"> -->
                            <div class="columns <%= detail.content[i].body_button[x].columns %>" data-rel="<%= g %>"  data-val="<%= x %>">
                              <a href="<%= detail.content[i].body_button[x].btn_url %>" target="_blank" class="btn btn-blue btn-block">
                                <%= detail.content[i].body_button[x].btn_title %>
                              </a>
                            </div>
                            <%
                        }
										} %>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          <%
          } else if (detail.content[i].type == 'b') {
          %>
          <section class="block">
            <%
                if(detail.video_embed.length > 0 ){
              %>
              <div class="tab-content">
                <div class="columns col-sm-12 text-center nopadding video_event">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="myDiv" class="embed-responsive-item" src="<%= detail.video_embed %>"></iframe>
                  </div>
              </div>
              <br/>
              <br/>
            <%
              }
            %>

            <div class="container content-text no-padding-top">
              <h3 class="blue underline">MATCH STATUS</h3>
              <br/>
              <%
                var match = detail.content[i].schedule_content;
                for (var x = 0; x < match.length; x++) {
              %>
              <% if(match[x].live != '0'){ %>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1 col-xss-12 vcenter nopadding">
                     <div class="vcenter col-md-12 col-sm-12 left-score-box">
                      <div class="tableized">
                        <span class="v-align">
                          <div class="date_match">
                            <div class="day text-center">
                              <%= getDate(match[x].match_date) %>
                            </div>
                            <div class="month text-center">
                             <%= getMonth(match[x].match_date) %>
                            </div>
                          </div>
                        </span>
                      </div>
                     </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-10 col-xss-12 vcenter trig_xss" style="">
                      <div class="vcenter col-md-12 col-sm-12 col-xs-12 mid-score-box">
                        <div class="col-md-4 col-sm-4 col-xs-4 tableized nopadding">
                          <p class="text-center v-align team_football"> <%= match[x].first_team %></p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                          <div class="score-board">
                            <span class="v-align text-center"><%= match[x].first_team_score %> - <%= match[x].second_team_score %> </span>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-sx-4 tableized nopadding">
                          <p class="text-center v-align team_football"> <%= match[x].second_team %></p>
                        </div>
                      </div>
                    </div>
                    <% if(match[x].live == '1'){
                    %>
                    <div class="col-md-1 col-sm-1 col-sx-1 col-xss-12 vcenter">
                      <div class="vcenter col-md-12 col-sm-12 col-xs-12">
                        <div class="tableized right-score-box" style="text-align:center;color:white;">
                          <p class="text-center v-align" style="text-align: center;color: white;"> LIVE!</p>
                        </div>
                      </div>
                    </div>
                    <% } %>
                  </div>
                  <div class="row">
                    <br>
                    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0">
                      <div class="mid-second-score-box">
                        <div class="col-md-12 tableized">
                          <p class="text-center v-align" style="color:white;font-size:11px;text-align:center;margin: 0 auto;">
                            <img src="images/venue-icon.png"> <%= match[x].venue %> |
                            <img src="images/time-icon.png"> <%= match[x].match_time %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <br>
                    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0">
                      <div class="mid-second-score-box">
                        <div class="col-md-12 tableized">
                          <p class="text-center v-align" style="color:white;font-size:12px;text-transform:uppercase;text-align:center;margin: 0 auto;">
                            <%= match[x].round %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1 morganisme col-xs-12">
                    <hr class="pocari_event">
                    </div>
                  </div>
                </div>
              <% } %>
              <% } %>
              <%
                var match = detail.content[i].schedule_content;
                for (var x = 0; x < match.length; x++) {
              %>
              <% if(match[x].live != '1'){ %>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1 col-xss-12 vcenter nopadding">
                     <div class="vcenter col-md-12 col-sm-12 left-score-box">
                      <div class="tableized">
                        <span class="v-align">
                          <div class="date_match">
                            <div class="day text-center">
                              <%= getDate(match[x].match_date) %>
                            </div>
                            <div class="month text-center">
                             <%= getMonth(match[x].match_date) %>
                            </div>
                          </div>
                        </span>
                      </div>
                     </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-10 col-xss-12 vcenter trig_xss" style="">
                      <div class="vcenter col-md-12 col-sm-12 col-xs-12 mid-score-box">
                        <div class="col-md-4 col-sm-4 col-xs-4 tableized nopadding">
                          <p class="text-center v-align team_football"> <%= match[x].first_team %></p>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                          <div class="score-board">
                            <span class="v-align text-center"><%= match[x].first_team_score %> - <%= match[x].second_team_score %> </span>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-sx-4 tableized nopadding">
                          <p class="text-center v-align team_football"> <%= match[x].second_team %></p>
                        </div>
                      </div>
                    </div>
                    <% if(match[x].live == '1'){
                    %>
                    <div class="col-md-1 col-sm-1 col-sx-1 col-xss-12 vcenter">
                      <div class="vcenter col-md-12 col-sm-12 col-xs-12">
                        <div class="tableized right-score-box" style="text-align:center;color:white;">
                          <p class="text-center v-align" style="text-align: center;color: white;"> LIVE!</p>
                        </div>
                      </div>
                    </div>
                    <% } %>
                  </div>
                  <div class="row">
                    <br>
                    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0">
                      <div class="mid-second-score-box">
                        <div class="col-md-12 tableized">
                          <p class="text-center v-align" style="color:white;font-size:11px;text-align:center;margin: 0 auto;">
                            <img src="images/venue-icon.png"> <%= match[x].venue %> |
                            <img src="images/time-icon.png"> <%= match[x].match_time %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <br>
                    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0">
                      <div class="mid-second-score-box">
                        <div class="col-md-12 tableized">
                          <p class="text-center v-align" style="color:white;font-size:12px;text-transform:uppercase;text-align:center;margin: 0 auto;">
                            <%= match[x].round %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1 morganisme col-xs-12">
                    <hr class="pocari_event">
                    </div>
                  </div>
                </div>
              <% } %>
              <% } %>
            </div>
          </section>
          <%
          } else if (detail.content[i].type == 'c') {

            if (detail.content[i].child_content) {
          %>
          <section class="block">
          <div class="container content-list no-padding-top medium">
            <div class="row normal-list equalizer">
              <%
                var childContent = detail.content[i].child_content;

                for (var c = 0; c < childContent.length; c++) {
                  if (childContent[c].type == 'article') {
                    var url = '#article/' + childContent[c].url;
              %>
              <div class="columns eq-item col-sm-3">
                <a href="<%= url %>" class="content-thumb" title="<%= childContent[c].title %>">
                  <div class="image">
                    <img src="images/thumbnail-sample.jpg" class="template">
                    <div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + childContent[c].image %>);"></div>
                  </div>
                  <div class="text same-height">
                    <div class="title"><%= childContent[c].titleShort %></div>
                    <div class="subtitle"><%= childContent[c].caption %></div>
                    <div class="writer"><span class="blue"><%= childContent[c].writer %></span></div>
                  </div>
                </a>
              </div>
              <%
                  } else if (childContent[c].type == 'video') {
                    var url = '#video/' + childContent[c].url;
              %>
              <div class="columns eq-item col-sm-3">
                <a href="<%= url %>" class="content-thumb video">
                  <div class="image">
                    <img src="images/thumbnail-sample.jpg" class="template">
                    <div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + childContent[c].image %>);"></div>
                    <div class="play-thumb">
                      <div class="valign">
                        <div class="inner middle">
                          <div class="video-play">
                            <div class="valign">
                              <div class="inner middle"><img src="images/arrow-right-lg.png"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text same-height">
                    <div class="title"><%= childContent[c].title %>
                      <div class="writer"><span class="blue"><%= childContent[c].tag %></span></div>
                    </div>
                  </div>
                </a>
              </div>
              <%
                  }
                }
              %>
            </div>
          </div>
          </section>
          <%
            }
          } else if (detail.content[i].type == 'd') {

            if (detail.content[i].container) {
              var containerClass = detail.content[i].container;
            } else {
              var containerClass = 'medium';
            }
          %>
          <section class="block">
            <div class="container content-text no-padding-top <%= containerClass %>">
            <%= detail.content[i].body_content %>
          </section>
          <%
          }
          %>
          </div>
        <%
          }
        }
        %>
        </div>
        <% if (related.length > 0) { %>
        <section class="block" id="related-block">
          <div class="container content-list medium">
            <h3 class="blue uppercase">ALL ABOUT <%= detail.title %></h3>
            <div class="row slide-horizontal" id="slide-<%= i %>">
              <%
                for (var c = 0; c < related.length; c++) {

                  if (related[c].type == 'article' || related[c].type == 'event') {

                    if (related[c].type == 'article') {
                      var url = '#article/' + related[c].url;

                    } else if (related[c].type == 'event') {
                      var url = '#event/' + related[c].url;
                    }

                    if (related[c].columns == 'small') {
              %>
              <div class="columns col-sm-3">
                <a href="<%= url %>" class="content-thumb" title="<%= related[c].title %>">
                  <div class="image">
                    <img src="images/thumbnail-sample.jpg" class="template">
                    <div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + related[c].image %>);"></div>
                  </div>
                  <div class="text">
                    <div class="title"><%= related[c].titleShort %></div>
                    <div class="subtitle"><%= related[c].caption %></div>
                    <div class="writer"><span class="blue"><%= related[c].writer %></span></div>
                  </div>
                </a>
              </div>
              <%
                    } else {
              %>
              <div class="columns col-sm-6">
                <a href="<%= url %>" class="content-thumb highlight" title="<%= related[c].title %>">
                  <div class="lable-top">HIGHLIGHT</div>
                  <div class="image">
                    <img src="images/thumbnail-highlight-sample.jpg" class="template">
                    <div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + related[c].image %>);"></div>
                  </div>
                  <div class="text-content">
                    <div class="title"><%= related[c].title %></div>
                    <div class="caption"><%= related[c].caption %></div>
                    <div class="writer"><%= related[c].writer %></div>
                  </div>
                </a>
              </div>
              <%
                    }
                  } else {

                    if (related[c].columns == 'big') {
              %>
              <div class="columns col-sm-6">
                <a href="#video/<%= related[c].url %>" class="content-thumb video highlight" title="<%= related[c].title %>">
                  <div class="lable-top">HIGHLIGHT</div>
                  <div class="image">
                    <img src="images/thumbnail-highlight-sample.jpg" class="template">
                    <div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + related[c].image %>);"></div>
                    <div class="play-thumb">
                      <div class="valign">
                        <div class="inner middle">
                          <div class="video-play">
                            <div class="valign">
                              <div class="inner middle"><img src="images/arrow-right-lg.png"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-content">
                    <div class="title"><small><%= related[c].title %></small></div>
                    <div class="caption"></div>
                    <div class="writer"><%= related[c].tag %></div>
                  </div>
                </a>
              </div>
              <%
                    } else {
              %>
              <div class="columns col-sm-3">
                <a href="#video/<%= related[c].url %>" class="content-thumb video">
                  <div class="image">
                    <img src="images/thumbnail-sample.jpg" class="template">
                    <div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + related[c].image %>);"></div>
                    <div class="play-thumb">
                      <div class="valign">
                        <div class="inner middle">
                          <div class="video-play">
                            <div class="valign">
                              <div class="inner middle"><img src="images/arrow-right-lg.png"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text">
                    <div class="title"><%= related[c].title %>
                      <div class="writer"><span class="blue"><%= related[c].tag %></span></div>
                    </div>
                  </div>
                </a>
              </div>
              <%
                    }
                  }
                }
              %>
            </div>
          </div>
        </section>
        <% } %>
      </div>
