      <section class="block full-height no-padding chat expert">
      	<div class="row full-height-row no-padding">
      		<div class="columns col-sm-3 user-list">
      			<div class="category-item">
	      			<div class="top-header">
	      				<div class="row">
	      					<div class="columns col-xs-8">USER LIST</div>
	      					<div class="columns col-xs-4"><span class="online-user-count"><%= userList.length %></span> user</div>
	      				</div>
	      			</div>
	      			<div class="list" id="user">
	      				<%
	      					for (var i = 0; i < userList.length; i++) {
                    if (main.user.id != userList[i].uid) {

                    var hideUnread = 'hide';

                    if (userList[i].unread > 0) {
                      hideUnread = '';
                    }
	      				%>
	      				<a href="#expert-chat/<%= userList[i].uid %>" data-id="<%= userList[i].uid %>" class="item"><%= userList[i].full_name %>
	      					<div class="toolbar text-right">

<!-- 	      						<div class="icon hide-icon ellipse"></div>
	      						<div class="icon hide-icon remove"></div>
 -->                    
	      						<div class="icon unread <%= hideUnread %>"><%= userList[i].unread %></div>
	      					</div>
	      				</a>
	      				<%
                    }
                  }
                %>
	      			</div>
      			</div>
            <!--
      			<div class="category-item">
	      			<div class="top-header">
	      				<div class="row">
	      					<div class="columns col-xs-8">ARCHIVEST LIST</div>
	      					<div class="columns col-xs-4">21 user</div>
	      				</div>
	      			</div>
	      			<div class="list">
	      				<%
	      					for (var i = 0; i < 6; i++) {
	      				%>
	      				<a href="#" class="item">Lorem ipsumdolor</a>
	      				<% } %>
	      			</div>
      			</div>
            -->
      		</div>
      		<div class="columns col-sm-6 chat-area">
      			<div class="top-header">
    					Countdown:
    					<div class="countdown small" id="countdown">
    						<span>00</span>:<span>00</span>:<span>00</span>
    					</div>
      			</div>
      			<div class="chat-room" id="chat">
              <%
                for (var i = 0; i < userMessage.length; i++) {

                if (main.expert == userMessage[i].sender) {
                  var position = '';
                } else {
                  var position = 'right';
                }

                if (userMessage[i].sender == main.user.id) {
                  position = position + ' you';
                }
              %>
              <div class="messsage <%= position %>" data-name="<%= userMessage[i].sender %>">
                <div class="text">
                  <h4><span class="time"><%= userMessage[i].time %></span> <%= userMessage[i].name %></h4>
                  <p><%= userMessage[i].msg %></p>
                </div>
                <div class="avatar" style="background-image: url(<%= apiUrl + 'uploads/' + userMessage[i].avatar %>);"></div>
              </div>
              <% } %>
            </div>
      			<div class="message-area">
              <%
                if (chatId) {
                  var lockInput = '';
                } else {
                  var lockInput = 'lock';
                }
              %>
      				<div class="input-area <%= lockInput %>">
      					<div class="row">
                  <form id="messsage-form">
        						<div class="columns col-xs-7">
                      <textarea name="message"></textarea>
        						</div>
        						<div class="columns col-xs-5">
        							<div class="row btn-area">
        								<div class="columns col-xs-8"><button type="submit" class="btn btn-blue btn-block">KIRIM</button></div>
        								<div class="columns col-xs-4"><a href="#" class="btn btn-blue btn-block save-as-template"><i class="fa fa-download"></i></a></div>
                        <!--
        								<div class="columns col-xs-3"><a href="#" class="btn btn-blue btn-block"><i class="fa fa-th"></i></a></div>
                        -->
        							</div>
        						</div>
                  </form>
      					</div>
      				</div>
      			</div>
      		</div>
      		<div class="columns col-sm-3 answer-template">
	      			<div class="top-header">
	      				<div class="row">
	      					<div class="columns col-xs-12 text-center">TEMPLATE ANSWER</div>
	      				</div>
	      			</div>
	      			<div class="list" id="list-template">
	      				<%
	      					for (var i = 0; i < AnswerTemplate.length; i++) {
	      				%>
	      				<div class="item" id="template-<%= AnswerTemplate[i]._id %>">
                  <p id="template-<%= i %>"><%= AnswerTemplate[i].text %></p>
	      					<div class="control">
	      						<div class="row">
	      							<a href="#" class="columns col-xs-4 set-control" data-action="use-template" data-number="<%= i %>"><i class="fa fa-upload"></i></a>
	      							<a href="#" class="columns col-xs-4 set-control" data-action="edit-template" data-number="<%= i %>"><i class="fa fa-edit"></i></a>
	      							<a href="#" class="columns col-xs-4 set-control" data-action="remove-template" data-id="<%= AnswerTemplate[i]._id %>"><i class="fa fa-trash-o"></i></a>
	      						</div>
	      					</div>
	      				</div>
	      				<% } %>
	      			</div>
      		</div>
      	</div>
      </section>