<section class="header">
  <div class="image ">
    <img src="images/tools_heart_rate.jpg" class="template">
    <div class="absolute-image hide-pattern" style="background-image: url('../images/tools_heart_rate.jpg');"></div>
  </div>
</section>
<section class="block" id="start-block">
  <div class="container content-text medium">
    <div class="row" style="margin-bottom: 0px;">
      <div class="columns col-sm-8">
        <ol class="breadcrumb">
          <li><a href="#home">HOME</a></li>
          <li class="active uppercase">BORN TO SWEAT</li>
        </ol>
      </div>
      <div class="columns col-sm-4 text-right">
        <div class="share-area">
          <span>SHARE:</span>
          <div class="share-btn">
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="line-height: 32px;">
              <a class="a2a_button_facebook" target="_blank" href="/#facebook" rel="nofollow noopener"><i class="fa fa-facebook"></i></a>
              <a class="a2a_button_twitter" target="_blank" href="/#twitter" rel="nofollow noopener"><i class="fa fa-twitter"></i></a>
            <div style="clear: both;"></div></div>
            <div style="display: none;">
              <script type="text/javascript">
              var a2a_config = a2a_config || {};
                //a2a_config.linkname = "";
                //a2a_config.linkurl = "";              
              </script>
              <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
              <script type="text/javascript">var switchTo5x=true;</script>
              <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block">
  <div class="container content-text medium">
    <p class="hail-hydra">
      Heart rate adalah jumlah detak jantung per satuan waktu yang biasa dinyatakan per menit / beats per menit (bpm). Heart rate menjadi salah satu alat untuk mengukur intensitas kerja tubuh seseorang.
    </p>
    <h2 class="hail-hydra">HEARTRATE TOOLS</h2>
    <form class="form-horizontal" onsubmit="return check_submission()" role="form">
      <div class="row">
        <br/>
        <div class="col-md-10">
          <div class="form-group tools_pocarisweat col-md-12 nopadding">
           <div class="col-xs-3 col-md-3" style="">
              <label class="hail-hydra middle"> Tanggal Lahir </label>
            </div>
            <div class="col-xs-3 col-md-2">
              <div class="select date">
                <select name="day_birth" id="day_birth" placeholder="DD" class="required">
                  <option selected="" value=""> DD </option>
                  <option value="1" >1</option>
                  <option value="2" >2</option>
                  <option value="3" >3</option>
                  <option value="4" >4</option>
                  <option value="5" >5</option>
                  <option value="6" >6</option>
                  <option value="7" >7</option>
                  <option value="9" >8</option>
                  <option value="10" >9</option>
                  <option value="11" >10</option>
                  <option value="12" >11</option>
                  <option value="13" >12</option>
                  <option value="14" >13</option>
                  <option value="15" >14</option>
                  <option value="16" >15</option>
                  <option value="17" >16</option>
                  <option value="18" >17</option>
                  <option value="19" >18</option>
                  <option value="20" >19</option>
                  <option value="21" >20</option>
                  <option value="22" >21</option>
                  <option value="23" >22</option>
                  <option value="24" >23</option>
                  <option value="25" >24</option>
                  <option value="26" >25</option>
                  <option value="27" >26</option>
                  <option value="28" >27</option>
                  <option value="29" >28</option>
                  <option value="30" >29</option>
                  <option value="31" >30</option>
                </select>
              </div>
            </div>   
            <div class="col-xs-3 col-md-2">
              <div class="select date">
                <select name="month_birth" id="month_birth" placeholder="MM" class="required">
                  <option value="" selected>MM</option>
                  <option value="1" >01</option>
                  <option value="2" >02</option>
                  <option value="3" >03</option>
                  <option value="4" >04</option>
                  <option value="5" >05</option>
                  <option value="6" >06</option>
                  <option value="7" >07</option>
                  <option value="8" >08</option>
                  <option value="9" >09</option>
                  <option value="10" >10</option>
                  <option value="11" >11</option>
                  <option value="12" >12</option>
                </select>
              </div>
            </div>   
            <div class="col-xs-3 col-md-2">
              <div class="select date">
                <select name="year_birth" id="year_birth" placeholder="YYYY" class="required">
                  <option value="" selected>YYYY</option>
                  <option value="1940" >1940</option>
                  <option value="1941" >1941</option>
                  <option value="1942" >1942</option>
                  <option value="1943" >1943</option>
                  <option value="1944" >1944</option>
                  <option value="1945" >1945</option>
                  <option value="1946" >1946</option>
                  <option value="1947" >1947</option>                  
                  <option value="1948" >1948</option>
                  <option value="1949" >1949</option>
                  <option value="1950" >1950</option>
                  <option value="1951" >1951</option>
                  <option value="1952" >1952</option>
                  <option value="1953" >1953</option>
                  <option value="1954" >1954</option>
                  <option value="1955" >1955</option>
                  <option value="1956" >1956</option>
                  <option value="1957" >1957</option>
                  <option value="1958" >1958</option>
                  <option value="1959" >1959</option>
                  <option value="1960" >1960</option>
                  <option value="1961" >1961</option>
                  <option value="1962" >1962</option>
                  <option value="1963" >1963</option>
                  <option value="1964" >1964</option>
                  <option value="1965" >1965</option>
                  <option value="1966" >1966</option>
                  <option value="1967" >1967</option>
                  <option value="1968" >1968</option>
                  <option value="1969" >1969</option>
                  <option value="1970" >1970</option>
                  <option value="1971" >1971</option>
                  <option value="1972" >1972</option>
                  <option value="1973" >1973</option>
                  <option value="1974" >1974</option>
                  <option value="1975" >1975</option>
                  <option value="1976" >1976</option>
                  <option value="1977" >1977</option>
                  <option value="1978" >1978</option>
                  <option value="1979" >1979</option>
                  <option value="1980" >1980</option>
                  <option value="1981" >1981</option>
                  <option value="1982" >1982</option>
                  <option value="1983" >1983</option>
                  <option value="1984" >1984</option>
                  <option value="1985" >1985</option>
                  <option value="1986" >1986</option>
                  <option value="1987" >1987</option>
                  <option value="1988" >1988</option>
                  <option value="1989" >1989</option>
                  <option value="1989" >1989</option>
                  <option value="1990" >1990</option>
                  <option value="1991" >1991</option>
                  <option value="1992" >1992</option>
                  <option value="1993" >1993</option>
                  <option value="1994" >1994</option>
                  <option value="1995" >1995</option>
                  <option value="1996" >1996</option>
                  <option value="1997" >1997</option>
                  <option value="1998" >1998</option>
                  <option value="1999" >1999</option>
                  <option value="2000" >2000</option>
                  <option value="2001" >2001</option>
                  <option value="2002" >2002</option>
                  <option value="2003" >2003</option>
                  <option value="2004" >2004</option>
                  <option value="2005" >2005</option>
                  <option value="2006" >2006</option>
                  <option value="2007" >2007</option>
                  <option value="2008" >2008</option>
                  <option value="2009" >2009</option>
                  <option value="2010" >2010</option>
                </select>
              </div>
            </div>            
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-10">
          <div class="form-group tools_pocarisweat col-md-12 nopadding">
           <div class="col-xs-3 col-md-3" style="">
              <label class="hail-hydra middle"> Gender </label>
            </div>
            <div class="col-xs-3 col-md-3">
              <div class="select">
                <select name="day_birth" id="gender" placeholder="" required>
                  <option value="" selected>GENDER</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div>   
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <span class="danger form"></span>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <button class="pocari_submit button">√ | Hitung</button>        
        </div>
      </div>
      <br/>
      <div class="row show_message" id="show_heartrate_answer">
        <div class="col-md-12">
        <p class="hail-hydra"> Umur Anda : <span id="age_age"></span> Years Old</p>
        <p class="hail-hydra"> HeartRate Anda : <span id="heartrate_"></span></p>
        </div>
      </div>
      <br/>
    </form>
  </div>
</section>
<section class="block">
  <div class="container content-text medium">
    <h3 class="blue uppercase">OTHER POPULAR TOOLS <span></span></h3>
    <div class="row slide-horizontal col-md-12 nopadding" id="slide-8">
      <div class=" col-sm-3">
        <a href="#tools/sweatrate" class="content-thumb" title="" tabindex="0">
          <div class="image">
            <img src="images/thumbnail-sample.jpg" class="template">
            <div class="absolute-image" style="background-image: url(../images/sweat-rate-calculator.jpg);"></div>
          </div>
          <div class="text" style="height: 80px;">
            <div class="title" style="text-align:center;">Sweatrate Calculator</div>
            <div class="subtitle" style="text-align:center;">Hydration Index CALCULATOR</div>
          </div>
        </a>
      </div>
      <div class=" col-sm-3">
        <a href="#tools/dailycalories" class="content-thumb" title="Agus Prayogo" tabindex="0">
          <div class="image">
            <img src="images/thumbnail-sample.jpg" class="template">
            <div class="absolute-image" style="background-image: url(../images/daily-calories-calculator.jpg);"></div>
          </div>
          <div class="text" style="height: 80px;">
            <div class="title" style="text-align:center;">Daily Calories Calculator</div>
            <div class="subtitle" style="text-align:center;">How many calories you're burning whie inactive</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<div class="modal fade pocarisweat" id="trigger_modal" role="dialog">
  <div class="modal-dialog pocarisweat_">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title hail-hydra">THE RESULTS</h4>
      </div>
      <div class="modal-body">
        <p class="hail-hydra"> Umur Anda : <span id="age_age"></span> Years Old</p>
        <p class="hail-hydra"> Heartrate Anda : <span id="heartrate_"></span></p>
      </div>
    </div>
  </div>
</div>