      <section class="block full-height autoheight-xs blue regist-bg no-padding chat">
      	<div class="row full-height-row no-padding">
      		<div class="columns col-sm-6 text-center hide-overflow">
      			<div class="status-label is-online">
              LIVE!
              <div class="now">NOW</div>
            </div>
      			<div class="valign">
      				<div class="inner bottom padding-20 without-bottom expert-image-landing">
      					<img src="images/live-chat-landing.png">
      				</div>
      			</div>
      		</div>
      		<div class="columns col-sm-6 white-bg">
      			<div class="online-label bottom-bar">
              <span>Chat Online</span>
              <span class="green-indicator"></span>
              <span class="large online-user-count"><%= userList.length %></span>
              <span>User</span>
      			</div>
      			<div class="valign">
      				<div class="inner middle">
      					<div class="inner-content text-center">
                  <div class="landing-content">
                    <!--
                    <p>
                      <img src="images/sand-time.png">
                    </p>
                    -->
                    <h2 class="uppercase" style="margin-bottom: 0px;"><%= main.date %></h2>
                    <h3 class="uppercase" style="margin-top: 0px;"><%= main.time %></h3>
                    <p>Topic</p>
                    <h2><%= main.topic %></h1>
                    <p><%= main.caption %></p>
                    <br/>
                    <div class="button-area">
                      <a href="#login/chat" class="btn btn-blue"><img src="images/chat-icon.png"> MULAI CHAT</a>
                      <div class="countdown-1" id="countdown">
                        <div class="title">Countdown live</div>
                        <div class="stream-item">
                          <div class="item"><span>00</span><small>Hours</small></div>
                          <div class="item"><span>00</span><small>Minutes</small></div>
                          <div class="item"><span>00</span><small>Seconds</small></div>
                        </div>
                      </div>
                    </div>
                  </div>
      					</div>
      				</div>
      			</div>
      		</div>
      	</div>
      </section>