      <section class="block full-height blue regist-bg" id="start-block">
      	<div class="valign">
      		<div class="inner middle">
		      	<div class="container content-text medium">
							<form class="white-color" id="login-form">
			      		<div class="row">
			      			<div class="columns col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center">
			      				<h1 class="text-center">Login</h1>
			      				<!--
			      				<p class="text-center">Sed ut perspiciatis unde omnis iste natus</p>
			      				-->
									  <div class="form-group">
									    <input type="email" name="username" class="form-control" placeholder="Email">
									  </div>
									  <div class="form-group">
									    <input type="password" name="password" class="form-control" placeholder="Password">
									  </div>
									  <div class="checkbox text-left">
									    <label>
									      <input type="checkbox"> Remember me
									    </label>
									  </div>
									  <div class="form-group">
										  <button type="submit" class="btn btn-block">LOGIN</button>
										  Or using
									  	<a href="<%= apiUrl + 'auth/facebook' %>" class="btn btn-block btn-blue">FACEBOOK</a>
									  </div>
									  <div class="form-group">
									  	<a href="#registration">Create your account</a>
									  </div>
			      			</div>
								</form>
		      		</div>
		      	</div>
      		</div>
      	</div>
      </section>
