            <%
            	if (user.objectId) {

                if (ValidURL(user.avatar)) {
                    var avatar = user.avatar;
                } else {
                    var avatar = apiUrl + 'uploads/' + user.avatar;
                }
            %>
            <div class="profile">
                <a href="#profile" class="avatar" style="background-image: url(<%= avatar %>);"></a>
                <div class="text">
                    <div class="valign">
                        <div class="inner middle">
                            <a href="#profile" class="name"><%= user.full_name %></a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <div class="menu-nav">
                <!--
                <div class="item">
                    <div class="body">
                        <ul>
                            <li><a href="#">RECOMMENDED</a></li>
                            <li><a href="#">MY FAVORITE</a></li>
                            <li><a href="#">MY EVENT</a></li>
                        </ul>
                    </div>
                </div>
                -->
                <div class="item">
                    <div class="header">
                        CAMPAIGN
                        <div class="button"></div>
                    </div>
                    <div class="body">
                        <ul>
                            <!-- <li><a href="#campaign/born-to-sweat">Born to sweat</a></li> -->
                            <li><a href="#campaign/the-journey-of-breaking-stereotype/about">Born to sweat</a></li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="header">
                        EVENT
                        <div class="button"></div>
                    </div>
                    <div class="body">
                        <ul>
                            <li><a href="#event/pocari-bandung-marathon/58c15a9ba418240416acdee8">POCARI SWEAT BANDUNG WEST JAVA MARATHON</a></li>
                            <li><a href="#event/pocari-sweat-futsal-championship-2017/58b3dbc469d674016cdc73a4">POCARI SWEAT FUTSAL CHAMPIONSHIP</a></li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="header">
                        ACTIVITY
                        <div class="button"></div>
                    </div>
                    <div class="body">
                        <ul>
                            <li><a href="#article/support-the-athlete-challenge/589c0b429c500e03abc22317">SUPPORT THE ATHLETE </a></li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="header">
                        TOOLS
                        <div class="button"></div>
                    </div>
                    <div class="body">
                        <ul>
                            <li><a href="#tools/heartrate">HEARTRATE CALCULATOR </a></li>
                            <li><a href="#tools/dailycalories">CALORIES CALCULATOR </a></li>
                            <li><a href="#tools/sweatrate">SWEATRATE CALCULATOR </a></li>

                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="header">
                        VIDEO GALLERY
                        <div class="button">
                            <a href="#content/video" class="btn">SEE ALL</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="header">
                        ARTICLE
                        <div class="button">
                            <a href="#content/article" class="btn">SEE ALL</a>
                        </div>
                    </div>
                    <div class="body">
                        <ul>
                            <li><a href="#">NUTRITION</a></li>
                            <li><a href="#">MEDICINE</a></li>
                            <li><a href="#">PHYSIOLOGY</a></li>
                            <li><a href="#">PSYCHOLOGY</a></li>
                        </ul>
                    </div>
                </div>
                <!--
                <div class="item">
                    <div class="header">
                        TOPIC DISCUSSION
                        <div class="button"></div>
                    </div>
                    <div class="body">
                        <ul>
                            <li><a href="#livechat">CHAT WITH <span class="blue">MATIAS IBO</span></a></li>
                        </ul>
                    </div>
                </div>
                -->
            </div>
            <div class="bottom-cta">
                <div class="item">
                    <img src="images/sweatgen-logo.png">
                    <div class="title">Download and let’s get sweat NOW!</div>
                    <div class="row">
                        <div class="columns col-xs-6"><a href="https://play.google.com/store/apps/details?id=com.amertaindahotsuka.sweatgeneration&hl=en" target="_blank"><img src="images/google-play.png"></a></div>
                        <div class="columns col-xs-6"><a href="https://itunes.apple.com/us/app/sweatgeneration/id1043870958?mt=8" target="_blank"><img src="images/apps-store.png"></a></div>
                    </div>
                </div>
            </div>
