      <section class="block hide-ss-symbol" id="start-block">
      	<div class="container content-text medium low-padding">
          <div class="row" style="margin-bottom: 0px;">
            <div class="columns col-sm-8">
              <ol class="breadcrumb">
                <li><a href="#home">HOME</a></li>
                <li class="active uppercase">REGISTRATION</li>
              </ol>
            </div>
          </div>
      	</div>
      </section>
			<%
				if (ValidURL(data.avatar)) {
					var avatar = data.avatar;
				} else {
					var avatar = apiUrl + 'uploads/' + data.avatar;
				}
			%>
      <section class="block full-height blue regist-bg">
      	<div class="valign">
      		<div class="inner middle">
		      	<div class="container content-text medium">
							<form class="white-color" id="data-form">
								<a href="#" class="avatar" style="background-image: url(<%= avatar %>);"></a>
			      		<div class="row">
			      			<div class="columns col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center">
			      				<div class="form-group">
				      				<h2 class="text-center"><%= data.full_name %></h2>
				      				<!--
				      				<p class="text-center">Sed ut perspiciatis unde omnis iste natus</p>
				      				-->
			      				</div>
									  <div class="form-group" id="input-sport">
									  	<select name="sport" class="form-control with-bg">
									  		<option value="">Olahraga yang sering dilakukan</option>
									  		<%
                          var sport = ["Lari", "Sepak Bola", "Futsal", "Basket", "Lainnya"];

                          for (var i = 0; i < sport.length; i++) {

	                          if (sport[i] == data.sport) {
	                          	var selSport = 'selected';
	                        	} else {
	                          	var selSport = '';
	                          }
									  		%>
									  		<option value="<%= sport[i] %>" <%= selSport %>><%= sport[i] %></option>
									  		<% } %>
									  	</select>
									    <div class="error-message">
									    	<div class="valign">
									    		<div class="inner middle message"></div>
									    	</div>
									    </div>
									  </div>
									  <div class="form-group" id="input-range">
									  	<select name="range" class="form-control with-bg">
									  		<option value="">Seberapa sering kamu berolahraga</option>
									  		<%
                          var range = ["Seminggu 1 kali", "Seminggu 2 kali", "Seminggu 3 kali", "Tiap hari"];

                          for (var i = 0; i < range.length; i++) {

	                          if (range[i] == data.range) {
	                          	var selRange = 'selected';
	                        	} else {
	                          	var selRange = '';
	                          }
									  		%>
									  		<option value="<%= range[i] %>" <%= selRange %>><%= range[i] %></option>
									  		<% } %>
									  	</select>
									    <div class="error-message">
									    	<div class="valign">
									    		<div class="inner middle message"></div>
									    	</div>
									    </div>
									  </div>
									  <div class="separator"></div>
									  <div class="form-group">
										  <a href="#user-detail/<%= data.objectId %>" class="btn btn-transparent">
										  	<i class="fa fa-chevron-left" aria-hidden="true"></i>
										  	PREVIOUS
										  </a>
									  	<input type="hidden" name="objectId" value="<%= data.objectId %>">
										  <button type="submit" class="btn btn-transparent submit-data">
										  	FINISH
										  	<i class="fa fa-chevron-right" aria-hidden="true"></i>
										  </button>
									  </div>
			      			</div>
								</form>
		      		</div>
		      	</div>
      		</div>
      	</div>
      </section>
