      <section class="header">
      	<div class="profile-section">
      		<div class="title-section">MY PROFILE</div>
      		<div class="profile-content">
            <%
              if (ValidURL(user.avatar)) {
                var avatar = user.avatar;
              } else {
                var avatar = apiUrl + 'uploads/' + user.avatar;
              }
            %>
      			<div class="avatar" style="background-image: url(<%= avatar %>);">
      				<div class="control-bottom">
      					<a href="#user-detail/<%= user.objectId %>"><i class="fa fa-image"></i> EDIT PROFILE</a>
      				</div>
      			</div>
            <div class="text">
              <div class="valign">
                <div class="inner middle">
                  <div class="content">
                    <h2><%= user.full_name %></h2>
                    <div class="meta">
                      <img src="images/pf-location-icon.png">
                      <span class="large"><%= user.address %></span>
                    </div>
                    <%
                      if (user.sport) {

                        if (user.sport == 'Lari') {
                          var sportIcon = '<img src="images/pf-running-icon.png">';
                        } else if (user.sport == 'Sepak Bola') {
                          var sportIcon = '<img src="images/pf-football-icon.png">';
                        } else if (user.sport == 'Futsal') {
                          var sportIcon = '<img src="images/pf-football-icon.png">';
                        } else if (user.sport == 'Basket') {
                          var sportIcon = '<img src="images/pf-basket-icon.png">';
                        } else {
                          var sportIcon = '';
                        }
                    %>
                    <div class="meta">
                      <%= sportIcon %>
                      <span><%= user.sport + ', ' + user.range %></span>
                    </div>
                    <%
                      }
                    %>
                    <div class="meta">
                      <img src="images/pf-email-icon.png">
                      <span><%= user.email %></span>
                    </div>
                    <div class="meta">
                      <img src="images/pf-gender-icon.png">
                      <span><%= user.gender %></span>
                    </div>
                    <div class="meta">
                      <img src="images/pf-calendar-icon.png">
                      <span><%= user.birthday.day + '/' + user.birthday.month + '/' + user.birthday.year %></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      		</div>
      	</div>
      </section>
      <%
      	for (var i = 0; i < data.length; i++) {

          if (data[i].content.length > 0) {
      %>
      <section class="block">
      	<div class="container content-list medium">
      		<h3 class="blue uppercase"><%= data[i].category %> <span><%= data[i].category_alias %></span></h3>
      		<div class="row slide-horizontal" id="slide-<%= i %>">
			      <%
			      	for (var c = 0; c < data[i].content.length; c++) {

                if (data[i].content[c].type == 'article' || data[i].content[c].type == 'event') {

                  if (data[i].content[c].type == 'article') {
                    var url = '#article/' + data[i].content[c].url;

                  } else if (data[i].content[c].type == 'event') {
                    var url = '#event/' + data[i].content[c].url;
                  }

  			      		if (data[i].content[c].columns == 'small') {
			      %>
      			<div class="columns col-sm-3">
      				<a href="<%= url %>" class="content-thumb" title="<%= data[i].content[c].title %>">
      					<div class="image">
      						<img src="images/thumbnail-sample.jpg" class="template">
      						<div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + data[i].content[c].image %>);"></div>
      					</div>
      					<div class="text">
      						<div class="title"><%= data[i].content[c].titleShort %></div>
                  <div class="subtitle"><%= data[i].content[c].caption %></div>
      						<div class="writer"><span class="blue"><%= data[i].content[c].writer %></span></div>
      					</div>
	      			</a>
    				</div>
      			<%
        					} else {
  					%>
      			<div class="columns col-sm-6">
      				<a href="<%= url %>" class="content-thumb highlight" title="<%= data[i].content[c].title %>">
      					<div class="lable-top">HIGHLIGHT</div>
      					<div class="image">
      						<img src="images/thumbnail-highlight-sample.jpg" class="template">
      						<div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + data[i].content[c].image %>);"></div>
      					</div>
      					<div class="text-content">
      						<div class="title"><%= data[i].content[c].title %></div>
      						<div class="caption"><%= data[i].content[c].caption %></div>
      						<div class="writer"><%= data[i].content[c].writer %></div>
      					</div>
      				</a>
      			</div>
  					<%
        					}
                } else {

                  if (data[i].content[c].columns == 'big') {
            %>
            <div class="columns col-sm-6">
              <a href="#video/<%= data[i].content[c].url %>" class="content-thumb video highlight" title="<%= data[i].content[c].title %>">
                <div class="lable-top">HIGHLIGHT</div>
                <div class="image">
                  <img src="images/thumbnail-highlight-sample.jpg" class="template">
                  <div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + data[i].content[c].image %>);"></div>
                  <div class="play-thumb">
                    <div class="valign">
                      <div class="inner middle">
                        <div class="video-play">
                          <div class="valign">
                            <div class="inner middle"><img src="images/arrow-right-lg.png"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-content">
                  <div class="title"><small><%= data[i].content[c].title %></small></div>
                  <div class="caption"></div>
                  <div class="writer"><%= data[i].content[c].tag %></div>
                </div>
              </a>
            </div>
            <%
                  } else {
            %>
            <div class="columns col-sm-3">
              <a href="#video/<%= data[i].content[c].url %>" class="content-thumb video">
                <div class="image">
                  <img src="images/thumbnail-sample.jpg" class="template">
                  <div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + data[i].content[c].image %>);"></div>
                  <div class="play-thumb">
                    <div class="valign">
                      <div class="inner middle">
                        <div class="video-play">
                          <div class="valign">
                            <div class="inner middle"><img src="images/arrow-right-lg.png"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text">
                  <div class="title"><%= data[i].content[c].title %>
                    <div class="writer"><span class="blue"><%= data[i].content[c].tag %></span></div>
                  </div>
                </div>
              </a>
            </div>
            <%
                  }
                }
      				}
      			%>
      		</div>
      	</div>
      </section>
      <%
          }
	      }
      %>