      <section class="block hide-ss-symbol" id="start-block">
      	<div class="container content-text medium low-padding">
          <div class="row" style="margin-bottom: 0px;">
            <div class="columns col-sm-8">
              <ol class="breadcrumb">
                <li><a href="#home">HOME</a></li>
                <li class="active uppercase">REGISTRATION</li>
              </ol>
            </div>
          </div>
      	</div>
      </section>
      <section class="block full-height blue regist-bg">
      	<div class="valign">
      		<div class="inner middle">
		      	<div class="container content-text medium">
							<form class="white-color" id="regist-form">
			      		<div class="row">
			      			<div class="columns col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center">
			      				<h1 class="text-center">Registration</h1>
			      				<!--
			      				<p class="text-center">Sed ut perspiciatis unde omnis iste natus</p>
			      				-->
									  <div class="form-group" id="input-email">
									    <input type="email" name="email" class="form-control" placeholder="Email">
									    <div class="error-message">
									    	<div class="valign">
									    		<div class="inner middle message"></div>
									    	</div>
									    </div>
									  </div>
									  <div class="form-group" id="input-password">
									    <input type="password" name="password" class="form-control" placeholder="Password">
									    <div class="error-message">
									    	<div class="valign">
									    		<div class="inner middle message"></div>
									    	</div>
									    </div>
									  </div>
									  <div class="form-group" id="input-retype-password">
									    <input type="password" name="retype-password" class="form-control" placeholder="Re-type Password">
									    <div class="error-message">
									    	<div class="valign">
									    		<div class="inner middle message"></div>
									    	</div>
									    </div>
									  </div>
									  <div class="form-group">
									    <small>*Password harus terdiri dari angka dan huruf</small>
									  </div>
									  <div class="form-group">
										  <button type="submit" class="btn btn-block submit-regist">CREATE ACCOUNT</button>
										  Or using
									  	<a href="#" class="btn btn-block btn-blue">FACEBOOK</a>
									  </div>
									  <div class="form-group">
									  	<a href="#">I already have an account</a>
									  </div>
			      			</div>
			      		</div>
							</form>
		      	</div>
      		</div>
      	</div>
      </section>
      <!--
      <section class="block full-height blue regist-bg">
      	<div class="valign">
      		<div class="inner middle">
		      	<div class="container content-text medium">
							<form class="white-color">
			      		<div class="row">
			      			<div class="columns col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center">
			      				<h1 class="text-center">Login Headline</h1>
			      				<p class="text-center">Sed ut perspiciatis unde omnis iste natus</p>
									  <div class="form-group">
									    <input type="email" class="form-control" placeholder="Email">
									  </div>
									  <div class="form-group">
									    <input type="password" class="form-control" placeholder="Password">
									  </div>
									  <div class="checkbox text-left">
									    <label>
									      <input type="checkbox"> Remember me
									    </label>
									  </div>
									  <div class="form-group">
										  <button type="submit" class="btn btn-block">LOGIN</button>
										  Or using
									  	<a href="#" class="btn btn-block btn-blue">FACEBOOK</a>
									  </div>
									  <div class="form-group">
									  	<a href="#">Create your account</a>
									  </div>
			      			</div>
								</form>
		      		</div>
		      	</div>
      		</div>
      	</div>
      </section>
      <section class="block full-height blue regist-bg">
      	<div class="valign">
      		<div class="inner middle">
		      	<div class="container content-text medium">
							<form class="white-color">
			      		<div class="row">
			      			<div class="columns col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center">
			      				<h1 class="text-center">Forgot Password</h1>
			      				<p class="text-center">Sed ut perspiciatis unde omnis iste natus</p>
									  <div class="form-group">
									    <input type="password" class="form-control" placeholder="Password">
									  </div>
									  <div class="form-group">
									    <input type="password" class="form-control" placeholder="Re-type Password">
									    <small>*Password harus terdiri dari angka dan huruf</small>
									  </div>
									  <div class="form-group">
										  <button type="submit" class="btn btn-block btn-blue-pocari">CONFIRM</button>
									  </div>
			      			</div>
								</form>
		      		</div>
		      	</div>
      		</div>
      	</div>
      </section>
      <section class="block full-height blue regist-bg">
      	<div class="valign">
      		<div class="inner middle">
		      	<div class="container content-text medium">
							<form class="white-color">
			      		<div class="row">
			      			<div class="columns col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center">
			      				<h1 class="text-center">Forgot Password</h1>
			      				<p class="text-center">Sed ut perspiciatis unde omnis iste natus</p>
									  <div class="form-group">
									    <input type="email" class="form-control" placeholder="Your email">
									  </div>
									  <div class="form-group">
										  <button type="submit" class="btn btn-block">SEND EMAIL VERIFICATION</button>
									  </div>
			      			</div>
								</form>
		      		</div>
		      	</div>
      		</div>
      	</div>
      </section>
      <section class="block full-height blue regist-bg">
      	<div class="valign">
      		<div class="inner middle">
		      	<div class="container content-text medium">
							<form class="white-color">
								<a href="#" class="avatar browse-avatar">
									<div class="valign">
										<div class="inner middle">ADD <br/> PHOTO</div>
									</div>
								</a>
			      		<div class="row">
			      			<div class="columns col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center">
									  <div class="form-group">
									    <input type="text" class="form-control" placeholder="Nama Lengkap">
									  </div>
									  <div class="form-group">
									  	<div class="row">
									  		<div class="columns col-xs-4"><label>Jenis kelamin</label></div>
									  		<div class="columns col-xs-8">
													<label class="radio-inline">
													  <input type="radio" name="gender" value="male"> Pria
													</label>
													<label class="radio-inline">
													  <input type="radio" name="gender" value="female"> Wanita
													</label>
									  		</div>
									  	</div>
									  </div>
									  <div class="form-group">
									  	<div class="row">
									  		<div class="columns col-xs-4"><label>Tanggal Lahir</label></div>
									  		<div class="columns col-xs-8">
									  			<div class="row select-group">
									  				<div class="columns col-xs-4">
									  					<select class="form-control with-bg">
									  						<option value="">DD</option>
									  					</select>
									  				</div>
									  				<div class="columns col-xs-4">
									  					<select class="form-control with-bg">
									  						<option value="">MM</option>
									  					</select>
									  				</div>
									  				<div class="columns col-xs-4">
									  					<select class="form-control with-bg">
									  						<option value="">YY</option>
									  					</select>
									  				</div>
									  			</div>
									  		</div>
									  	</div>
									  </div>
									  <div class="form-group">
									  	<select class="form-control with-bg">
									  		<option value="">Kota Asal</option>
									  	</select>
									  </div>
									  <div class="separator"></div>
									  <div class="form-group">
										  <button type="submit" class="btn btn-transparent">
										  	NEXT <i class="fa fa-chevron-right" aria-hidden="true"></i>
										  </button>
									  </div>
			      			</div>
								</form>
		      		</div>
		      	</div>
      		</div>
      	</div>
      </section>
      <section class="block full-height blue regist-bg">
      	<div class="valign">
      		<div class="inner middle">
		      	<div class="container content-text medium">
							<form class="white-color">
								<a href="#" class="avatar"></a>
			      		<div class="row">
			      			<div class="columns col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center">
			      				<div class="form-group">
				      				<h2 class="text-center">Lorem ipsum dolor</h2>
				      				<p class="text-center">Sed ut perspiciatis unde omnis iste natus</p>
			      				</div>
									  <div class="form-group">
									  	<select class="form-control with-bg">
									  		<option value="">Olahraga yang sering dilakukan</option>
									  	</select>
									  </div>
									  <div class="form-group">
									  	<select class="form-control with-bg">
									  		<option value="">Olahraga yang sering dilakukan</option>
									  	</select>
									  </div>
									  <div class="separator"></div>
									  <div class="form-group">
										  <button type="submit" class="btn btn-transparent">
										  	<i class="fa fa-chevron-left" aria-hidden="true"></i>
										  	PREVIOUS
										  </button>
										  <button type="submit" class="btn btn-transparent">
										  	NEXT
										  	<i class="fa fa-chevron-right" aria-hidden="true"></i>
										  </button>
									  </div>
			      			</div>
								</form>
		      		</div>
		      	</div>
      		</div>
      	</div>
      </section>
      -->
