      <section class="block hide-ss-symbol" id="start-block">
      	<div class="container content-text medium low-padding">
          <div class="row" style="margin-bottom: 0px;">
            <div class="columns col-sm-8">
              <ol class="breadcrumb">
                <li><a href="#home">HOME</a></li>
                <li class="active uppercase">REGISTRATION</li>
              </ol>
            </div>
          </div>
      	</div>
      </section>
      <section class="block full-height blue regist-bg">
      	<div class="valign">
      		<div class="inner middle">
		      	<div class="container content-text medium">
							<form class="white-color" id="data-form">
			      		<div class="row">
			      			<div class="columns col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center">
			      				<div class="form-group">
				      				<h1 class="text-center uppercase">Thank You!</h1>
				      				<p class="text-center">Data kamu sudah berhasil tersimpan.</p>
				      				<a href="#home" class="btn">BACK TO HOME</a>
			      				</div>
			      			</div>
								</form>
		      		</div>
		      	</div>
      		</div>
      	</div>
      </section>
