<section class="header">
  <div class="image ">
    <img src="images/tools_sweat_rate.jpg" class="template">
    <div class="absolute-image hide-pattern" style="background-image: url('../images/tools_sweat_rate.jpg');"></div>
  </div>
</section>
<section class="block" id="start-block">
  <div class="container content-text medium">
    <div class="row" style="margin-bottom: 0px;">
      <div class="columns col-sm-8">
        <ol class="breadcrumb">
          <li><a href="#home">HOME</a></li>
          <li class="active uppercase">BORN TO SWEAT</li>
        </ol>
      </div>
      <div class="columns col-sm-4 text-right">
        <div class="share-area">
          <span>SHARE:</span>
          <div class="share-btn">
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="line-height: 32px;">
              <a class="a2a_button_facebook" target="_blank" href="/#facebook" rel="nofollow noopener"><i class="fa fa-facebook"></i></a>
              <a class="a2a_button_twitter" target="_blank" href="/#twitter" rel="nofollow noopener"><i class="fa fa-twitter"></i></a>
            <div style="clear: both;"></div></div>
            <div style="display: none;">
              <script type="text/javascript">
              var a2a_config = a2a_config || {};
                      //a2a_config.linkname = "";
                      //a2a_config.linkurl = "";              
              </script>
              <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
              <script type="text/javascript">var switchTo5x=true;</script>
              <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block">
  <div class="container content-text medium">
      <p class="hail-hydra">
      Sweat Rate Test adalah laju keluar keringat yang bertujuan untuk mengetahui berapa banyak keringat yang dikeluarkan seseorang saat berolahraga. Hitung Sweat Rate Anda untuk mengetahui rekomendasi minimal cairan yang harus diminum saat berolahraga
      </p>
      <h2 class="hail-hydra">HYDRATION TOOLS</h2>
      <form class="form-horizontal" onsubmit="return check_submission()" role="form">
      <div class="row">
        <div class="col-md-12">
          <h4 class="hail-hydra">Berat Sebelum Olahraga</h4>
        </div>
        <div class="col-md-6">
          <input class="slider" id="rangeslider_2" value="65" min="0" max="100" name="rangeslider" type="range" step="1"/>
          <div class='ruler'>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="stick_bottom">
            <div class="actions increment_substract">
              <button type="button" id="subtract" class="ruler_minus rangeslider" onclick="substract_button()">-</button>
              <button type="button" id="add" class="ruler_plus rangeslider" onclick="increment_button()">+</button>
            </div>
            <div class="labelism">
              <span style="margin-right:12px;">Weight Units:</span> 
            </div>
            <div class="form-group">
              <div class="labelism">
                <span style="">Kilogram</span> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <h4 class="hail-hydra">Berat Setelah Olahraga</h4>
        </div>
        <div class="col-md-6">
          <input class="slider" id="rangeslider_3" value="65" min="0" max="100" name="rangeslider" type="range" step="1"/>
          <div class='ruler'>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           <div class='mm'></div>
           </div>
           <div class='cm'></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="stick_bottom">
            <div class="actions increment_substract">
              <button type="button" id="subtract" class="ruler_minus rangeslider" onclick="substract_button_2()">-</button>
              <button type="button" id="add" class="ruler_plus rangeslider" onclick="increment_button_2()">+</button>
            </div>
            <div class="labelism">
              <span style="margin-right:12px;">Weight Units:</span> 
            </div>
            <div class="form-group">
              <div class="labelism">
                <span style="">Kilogram</span> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group tools_pocarisweat">
           <div class="col-xs-3 mcenter" style="width:auto;">
              <label class="hail-hydra"> Berapa banyak cairan yang Anda Minum?</label>
              </div>
              <div class="col-xs-2 mcenter" style="width:auto;">
                <input type="number" min="0" max="999" onkeypress="limitKeypress(event,this.value,4)" class="form-control" name="fluid_consumed" value="" id="liquid_consume" placeholder="">
                <div class="absolute-content form text-center  ">
                  <div class="valign">
                    <div class="inner middle">
                      <span class="pxSpan">ML</span>
                    </div>
                  </div>
                </div>
              </div>            
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group tools_pocarisweat">
           <div class="col-xs-3 mcenter" style="width:auto;">
              <label class="hail-hydra">Berapa lama waktu latihan Anda?</label>
              </div>
              <div class="col-xs-2 mcenter" style="width:auto;">
                <input type="number" name="hours_exercise" class="form-control"  onkeypress="limitKeypress(event,this.value,2)"  min="0" max="99" name="exercise_time" value="" id="hours_exercise" placeholder="">
                <div class="absolute-content form text-center  ">
                  <div class="valign">
                    <div class="inner middle">
                      <span class="pxSpan">HOURS</span>
                    </div>
                  </div>
                </div>
              </div>            
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <span class="danger form"></span>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12">
          <button class="pocari_submit button">√ | Hitung</button>     
        </div>
      </div>
    </form>
    <div class="row show_message" id="show_answer_sweat">
      <br/>
      <div class="col-md-12">
        <p class="hail-hydra"> Berat Sebelum Olahraga : <span id="weight_before_exercise"></span> Kg</p>
        <p class="hail-hydra"> Berat Setelah Olahraga : <span id="weight_after_exercise"></span> Kg</p>
        <p class="hail-hydra"> Cairan Yang Diminum : <span id="liquid_consumed_"></span> mL</p>
        <p class="hail-hydra"> Waktu Olahraga Perjam : <span id="exercise_time_"></span> Hours</p>
        <p class="hail-hydra"> Sweat Rate : <span id="sweat_rate"></span> mL/H</p>
      </div>
    </div>
  </div>
  <br/>
  <br/>
</section>
<section class="block">
  <div class="container content-text medium">
    <h3 class="blue uppercase">OTHER POPULAR TOOLS <span></span></h3>
    <div class="row slide-horizontal col-md-12 nopadding" id="slide-8">
      <div class=" col-sm-3">
        <a href="#tools/dailycalories" class="content-thumb" title="Agus Prayogo" tabindex="0">
          <div class="image">
            <img src="images/thumbnail-sample.jpg" class="template">
            <div class="absolute-image" style="background-image: url(../images/daily-calories-calculator.jpg);"></div>
          </div>
          <div class="text" style="height: 80px;">
            <div class="title" style="text-align:center;">Daily Calories Calculator</div>
            <div class="subtitle" style="text-align:center;">How many calories you're burning whie inactive</div>
          </div>
        </a>
      </div>
      <div class=" col-sm-3">
        <a href="#tools/heartrate" class="content-thumb" title="Agus Prayogo" tabindex="0">
          <div class="image">
            <img src="images/thumbnail-sample.jpg" class="template">
            <div class="absolute-image" style="background-image: url(../images/heart-rate-calculator.jpg);"></div>
          </div>
          <div class="text" style="height: 80px;">
            <div class="title" style="text-align:center;">Heartrate Calculator</div>
            <div class="subtitle" style="text-align:center;">How many calories you're burning while inactive</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<div class="modal fade pocarisweat" id="trigger_modal" role="dialog">
  <div class="modal-dialog pocarisweat_">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title hail-hydra">THE RESULTS</h4>
      </div>
      <div class="modal-body">
        <p class="hail-hydra"> Berat Sebelum Olahraga : <span id="weight_before_exercise"></span> Kg</p>
        <p class="hail-hydra"> Berat Setelah Olahraga : <span id="weight_after_exercise"></span> Kg</p>
        <p class="hail-hydra"> Cairan Yang Diminum : <span id="liquid_consumed_"></span> mL</p>
        <p class="hail-hydra"> Waktu Olahraga Perjam : <span id="exercise_time_"></span> Hours</p>
        <p class="hail-hydra"> Sweat Rate : <span id="sweat_rate"></span> mL/H</p>
      </div>
    </div>
  </div>
</div>
<script>
function updateSlider(passObj) {
  var obj = $(passObj);
  var value = obj.val();
  var min = obj.attr("min");
  var max = obj.attr("max");
  var range = Math.round(max - min);
  var percentage = Math.round((value - min) * 100 / range);
  var nextObj = obj.next();
  nextObj.find("span.bar-btn").css("left", percentage + "%");
  nextObj.find("span.bar > span").css("width", percentage + "%");
  percentage = 40 + percentage;
  nextObj.find("span.bar-btn > span").text(percentage);
};

$.fn.rangeslider = function(options) {
  var obj = this;
  var defautValue = obj.attr("value");
  obj.wrap("<span class='range-slider'></span>");
  obj.after("<span class='slider-container two'><span class='bar'><span></span></span><span class='bar-btn'><span>0</span></span></span>");
  obj.attr("oninput", "updateSlider(this)");
  updateSlider(this);
  return obj;
};

function limitKeypress(event, value, maxLength) {
    if (value != undefined && value.toString().length >= maxLength) {
        event.preventDefault();
    }
}

function increment_button(){
  var obj = $('input#rangeslider_2');
  var value = parseInt(obj.val());
  var min = obj.attr("min");
  var max = obj.attr("max");
  var range = Math.round(max - min);
  var percentage = Math.round((value - min) * 100 / range) + 1;
  var nextObj = obj.next();
  value = percentage;
  obj.val(value);
  nextObj.find("span.bar-btn").css("left", percentage + "%");
  nextObj.find("span.bar > span").css("width", percentage + "%");
  percentage = 40 + percentage;
  nextObj.find("span.bar-btn > span").text(percentage);
}
function substract_button(){
  var obj = $('input#rangeslider_2');
  var value = parseInt(obj.val());
  var min = obj.attr("min");
  var max = obj.attr("max");
  var range = Math.round(max - min);
  var percentage = Math.round((value - min) * 100 / range) - 1;
  var nextObj = obj.next();
  value = percentage;
  obj.val(value);
  nextObj.find("span.bar-btn").css("left", percentage + "%");
  nextObj.find("span.bar > span").css("width", percentage + "%");
  percentage = 40 + percentage;
  nextObj.find("span.bar-btn > span").text(percentage);  
}
function increment_button_2(){
  var obj = $('input#rangeslider_3');
  var value = parseInt(obj.val());
  var min = obj.attr("min");
  var max = obj.attr("max");
  var range = Math.round(max - min);
  var percentage = Math.round((value - min) * 100 / range) + 1;
  var nextObj = obj.next();
  value = percentage;
  obj.val(value);
  nextObj.find("span.bar-btn").css("left", percentage + "%");
  nextObj.find("span.bar > span").css("width", percentage + "%");
  percentage = 40 + percentage;
  nextObj.find("span.bar-btn > span").text(percentage);
}
function substract_button_2(){
  var obj = $('input#rangeslider_3');
  var value = parseInt(obj.val());
  var min = obj.attr("min");
  var max = obj.attr("max");
  var range = Math.round(max - min);
  var percentage = Math.round((value - min) * 100 / range) - 1;
  var nextObj = obj.next();
  value = percentage;
  obj.val(value);
  nextObj.find("span.bar-btn").css("left", percentage + "%");
  nextObj.find("span.bar > span").css("width", percentage + "%");
  percentage = 40 + percentage;
  nextObj.find("span.bar-btn > span").text(percentage);  
}
</script>