      <section class="block full-height no-padding chat expert grey">
      	<div class="row full-height-row no-padding">
    			<div class="online-label visible-md visible-lg">
    				Chat Online <span class="green-indicator"></span>
    				<br/>
    				<span class="large online-user-count"><%= userList.length %></span> User
    			</div>
      		<div class="columns col-md-10 col-md-offset-1 chat-area">
      			<div class="top-header text-left">
      				<h3 class="inline">
      					<strong class="grey"><%= main.expert_name %></strong>
                <br/>
      					<span class="uppercase"><%= main.time %></span>
              </h3>
              <h3 class="inline">
                Topic: <strong><%= main.topic %></strong>
              </h3>
              <div class="right-content pull-right">
                <div class="live">LIVE!</div>
                <div class="countdown-2" id="countdown-userchat">
                  <div class="title">Countdown:</div>
                  <div class="stream-item">
                    <span>00</span>:<span>00</span>:<span>00</span>
                  </div>
                </div>
              </div>
      			</div>
            <div class="chat-room" id="chat">
              <%
                for (var i = 0; i < userMessage.length; i++) {

                if (main.expert == userMessage[i].sender) {
                  var position = '';
                } else {
                  var position = 'right';
                }

                if (userMessage[i].sender == main.user.id) {
                  position = position + ' you';
                }
              %>
              <div class="messsage <%= position %>" data-name="<%= userMessage[i].sender %>">
                <div class="text">
                  <h4><span class="time"><%= userMessage[i].time %></span> <%= userMessage[i].name %></h4>
                  <p><%= userMessage[i].msg %></p>
                </div>
                <div class="avatar" style="background-image: url(<%= apiUrl + 'uploads/' + userMessage[i].avatar %>);"></div>
              </div>
              <% } %>
            </div>
      			<div class="message-area">
      				<div class="input-area">
      					<div class="row">
                  <form id="messsage-form">
        						<div class="columns col-sm-10">
        							<textarea name="message" placeholder="Tulis pertanyaan kamu disini!"></textarea>
                      <p class="helpblock hidden-xs">*Saat live chat berlangsung user dilarang menggunakan kata-kata yang mengandung SARA.</p>
        						</div>
        						<div class="columns col-sm-2">
        							<div class="btn-area"><button type="submit" class="btn btn-blue btn-block">KIRIM</button></div>
        						</div>
                  </form>
                  <p class="helpblock visible-xs">*Saat live chat berlangsung user dilarang menggunakan kata-kata yang mengandung SARA.</p>
      					</div>
      				</div>
      			</div>
      		</div>
      	</div>
      </section>