      <section class="block hide-ss-symbol" id="start-block">
      	<div class="container content-text medium low-padding">
          <div class="row" style="margin-bottom: 0px;">
            <div class="columns col-sm-8">
              <ol class="breadcrumb">
                <li><a href="#home">HOME</a></li>
                <li class="active uppercase">REGISTRATION</li>
              </ol>
            </div>
          </div>
      	</div>
      </section>
      <section class="block full-height blue regist-bg">
      	<div class="valign">
      		<div class="inner middle">
		      	<div class="container content-text medium">
							<form class="white-color" id="data-form">
								<%
									if (data.avatar) {
										var filledAvatar = 'filled';
									} else {
										var filledAvatar = '';
									}

									var maleCheck = '';
									var femaleCheck = '';

									if (data.gender == 'male') {
										maleCheck = 'checked="checked"';
									} else if (data.gender == 'female') {
										femaleCheck = 'checked="checked"';
									}

									if (ValidURL(data.avatar)) {
										var avatar = data.avatar;
									} else {
										var avatar = apiUrl + 'uploads/' + data.avatar;
									}
								%>
								<a href="#" class="avatar browse-avatar <%= filledAvatar %>" style="background-image: url(<%= avatar %>);">
									<div class="valign">
										<div class="inner middle">ADD <br/> PHOTO</div>
									</div>
								</a>
			      		<div class="row">
			      			<div class="columns col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 text-center">
									  <div class="form-group" id="input-full_name">
									    <input type="text" name="full_name" value="<%= data.full_name %>" class="form-control" placeholder="Nama Lengkap">
									    <div class="error-message">
									    	<div class="valign">
									    		<div class="inner middle message"></div>
									    	</div>
									    </div>
									  </div>
									  <div class="form-group" id="input-gender">
									  	<div class="row">
									  		<div class="columns col-xs-4"><label>Jenis kelamin</label></div>
									  		<div class="columns col-xs-8">
													<label class="radio-inline">
													  <input type="radio" name="gender" value="male" <%= maleCheck %>> Pria
													</label>
													<label class="radio-inline">
													  <input type="radio" name="gender" value="female" <%= femaleCheck %>> Wanita
													</label>
									  		</div>
									  	</div>
									    <div class="error-message">
									    	<div class="valign">
									    		<div class="inner middle message"></div>
									    	</div>
									    </div>
									  </div>
									  <div class="form-group">
									  	<div class="row">
									  		<div class="columns col-xs-4"><label>Tanggal Lahir</label></div>
									  		<div class="columns col-xs-8">
									  			<div class="row select-group">
									  				<div class="columns col-xs-4">
									  					<select name="day" class="form-control with-bg">
									  						<option value="">DD</option>
                                <%
                                    for (var i = 1; i < 32; i++) {

                                    if (i == data.birthday.day) {
                                    	var selDay = 'selected';
                                  	} else {
                                    	var selDay = '';
                                    }

                                    if (i < 10) {
                                        i = '0' + i;
                                    }
                                %>
                                <option value="<%= i %>" <%= selDay %>><%= i %></option>
                                <% } %>
									  					</select>
									  				</div>
									  				<div class="columns col-xs-4">
									  					<select name="month" class="form-control with-bg">
									  						<option value="">MM</option>
                                <%
                                    for (var i = 0; i < 12; i++) {

                                    if (i == data.birthday.month) {
                                    	var selMonth = 'selected';
                                  	} else {
                                    	var selMonth = '';
                                    }

                                    var x = i + 1;

                                    if (x < 10) {
                                        x = '0' + x;
                                    }

                                    var month = ["January", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"];
                                %>
                                <option value="<%= x %>" <%= selMonth %>><%= month[i] %></option>
                                <% } %>
									  					</select>
									  				</div>
									  				<div class="columns col-xs-4">
									  					<select name="year" class="form-control with-bg">
									  						<option value="">YY</option>
                                <%
                                    var thisYear = new Date().getFullYear();

                                    for (var i = 1960; i <= 2001; i++) {

                                    if (i == data.birthday.year) {
                                    	var selYear = 'selected';
                                  	} else {
                                    	var selYear = '';
                                    }
                                %>
                                <option value="<%= i %>" <%= selYear %>><%= i %></option>
                                <% } %>
									  					</select>
									  				</div>
									  			</div>
									  		</div>
									  	</div>
									  </div>
									  <div class="form-group" id="input-address">
									  	<select name="address" class="form-control with-bg">
									  		<option value="">Kota Asal</option>
									  		<%
                          var address = ["Ambon","Balikpapan","Banda Aceh","Bandar Lampung","Bandung","Banjar","Banjarbaru","Banjarmasin","Batam","Batu","Bau-Bau","Bekasi","Bengkulu","Bima","Binjai","Bitung","Blitar","Bogor","Bontang","Bukittinggi","Cilegon","Cimahi","Cirebon","Denpasar","Depok","Dumai","Gorontalo","Jakarta","Jambi","Jayapura","Kediri","Kendari","Kotamobagu","Kupang","Langsa","Lhokseumawe","Lubuklinggau","Madiun","Magelang","Makassar","Malang","Manado","Mataram","Medan","Metro","Meulaboh","Mojokerto","Padang","Padang Sidempuan","Padangpanjang","Pagaralam","Palangkaraya","Palembang","Palopo","Palu","Pangkalpinang","Parepare","Pariaman","Pasuruan","Payakumbuh","Pekalongan","Pekanbaru","Pematangsiantar","Pontianak","Prabumulih","Probolinggo","Purwokerto","Sabang","Salatiga","Samarinda","Sawahlunto","Semarang","Serang","Sibolga","Singkawang","Solok","Sorong","Subulussalam","Sukabumi","Sungai Penuh","Surabaya","Surakarta","Tangerang","Tangerang Selatan","Tanjungbalai","Tanjungpinang","Tarakan","Tasikmalaya","Tebingtinggi","Tegal","Ternate","Tidore Kepulauan","Tomohon","Tual","Yogyakarta"];

                          for (var i = 0; i < address.length; i++) {

	                          if (address[i] == data.address) {
	                          	var selAddress = 'selected';
	                        	} else {
	                          	var selAddress = '';
	                          }
									  		%>
									  		<option value="<%= address[i] %>" <%= selAddress %>><%= address[i] %></option>
									  		<% } %>
									  	</select>
									    <div class="error-message">
									    	<div class="valign">
									    		<div class="inner middle message"></div>
									    	</div>
									    </div>
									  </div>
									  <div class="separator"></div>
									  <div class="form-group">
									  	<input type="hidden" name="objectId" value="<%= data.objectId %>">
										  <button type="submit" class="btn btn-transparent submit-data">
										  	NEXT <i class="fa fa-chevron-right" aria-hidden="true"></i>
										  </button>
									  </div>
			      			</div>
								</form>
		      		</div>
		      	</div>
      		</div>
      	</div>
      </section>
      <form id="upload-form" method="post" enctype="multipart/form-data" style="display: none;">
        <input type="file" id="userfile" name="avatar">
		  	<input type="hidden" name="objectId" value="<%= data.objectId %>">
      </form>