      <section class="block black-background hide-bottom-border">
        <div class="container content-text medium vertical-padding">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="<%= main.video %>"></iframe>
          </div>
        </div>
        <!--
      	<img src="images/video-sample-bg.jpg">
      	<div class="absolute-content text-center">
      		<div class="valign">
      			<div class="inner middle">
		      		<div class="row">
		      			<div class="col-md-6 col-md-offset-3 title">
		      				<a href="#" class="video-play">
		      					<div class="valign">
		      						<div class="inner middle"><img src="images/arrow-right-lg.png"></div>
		      					</div>
		      				</a>
		      			</div>
		      		</div>
      			</div>
      		</div>
      	</div>
        -->
      </section>
      <section class="block">
      	<div class="container content-text medium">
      		<h1><%= main.title %></h1>
      		<p>Published <%= main.date %> | By <%= main.writer %></p>
					<ol class="breadcrumb">
					  <li><a href="#">HOME</a></li>
            <!--
					  <li><a href="#campaign/born-to-sweat">BORN TO SWEAT</a></li>
            -->
					  <li class="active"><%= main.title %></li>
					</ol>
      	</div>
      </section>
      <%
        if (main.content) {
      %>
      <section class="block">
      	<div class="container content-text medium">
          <%= main.content %>
      	</div>
      </section>
      <% } %>
      <% if (related.length > 0) { %>
      <section class="block hide-bottom-border" id="related-video">
        <div class="container content-list medium">
          <h3 class="blue">RELATED VIDEO</h3>
            <div class="row slide-horizontal">
            <%
              for (var c = 0; c < related.length; c++) {
                if (related[c].columns == 'big') {
            %>
            <div class="columns col-sm-6">
              <a href="#video/<%= related[c].url %>" class="content-thumb video highlight" title="<%= related[c].title %>">
                <div class="lable-top">HIGHLIGHT</div>
                <div class="image">
                  <img src="images/thumbnail-highlight-sample.jpg" class="template">
                  <div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + related[c].image %>);"></div>
                  <div class="play-thumb">
                    <div class="valign">
                      <div class="inner middle">
                        <div class="video-play">
                          <div class="valign">
                            <div class="inner middle"><img src="images/arrow-right-lg.png"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-content">
                  <div class="title"><small><%= related[c].title %></small></div>
                  <div class="caption"></div>
                  <div class="writer"><%= related[c].tag %></div>
                </div>
              </a>
            </div>
            <%
                } else {
            %>
            <div class="columns col-sm-3">
              <a href="#video/<%= related[c].url %>" class="content-thumb video">
                <div class="image">
                  <img src="images/thumbnail-sample.jpg" class="template">
                  <div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + related[c].image %>);"></div>
                  <div class="play-thumb">
                    <div class="valign">
                      <div class="inner middle">
                        <div class="video-play">
                          <div class="valign">
                            <div class="inner middle"><img src="images/arrow-right-lg.png"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text">
                  <div class="title"><%= related[c].title %>
                    <div class="writer"><span class="blue"><%= related[c].tag %></span></div>
                  </div>
                </div>
              </a>
            </div>
            <%
                }
              }
            %>
          </div>
        </div>
      </section>
      <div class="bottom-fixed">
        <div class="btn btn-grey see-more-video">See more video</div>
      </div>
      <% } %>
