      <div class="indicator">
      	<div class="valign">
      		<div class="inner middle">
      			<div class="button-group">
              <%
                for (var i = 0; i < all.length; i++) {
              %>
			      	<a href="#" class="item">
			      		<div class="label">
			      			<div class="valign">
			      				<div class="inner middle">
						      		<%= all[i].title %>
			      				</div>
			      			</div>
			      		</div>
			      	</a>
              <%
                }
              %>
      			</div>
      		</div>
      	</div>
      </div>
      <section class="header">
      	<img src="images/campaign-sample.jpg">
      	<div class="absolute-content text-center">
      		<div class="valign">
      			<div class="inner middle">
		      		<div class="row">
		      			<div class="col-md-5 col-md-offset-5 title text-left">
		      				<h1 class="uppercase"><%= detail.campaign.caption %></h1>
		      				<p>by: Pocari Sweat</p>
		      			</div>
		      		</div>
      			</div>
      		</div>
      	</div>
      </section>
      <section class="block">
      	<div class="container content-text medium">
					<ol class="breadcrumb">
					  <li><a href="#">HOME</a></li>
					  <li class="active">BORN TO SWEAT</li>
					</ol>
      	</div>
      </section>
      <section class="block">
        <%
          if (prev != null) {
        %>
        <div class="top-section">
          <a href="#campaign/<%= prev.url %>" class="btn-direction uppercase">
            <i class="fa fa-chevron-down"></i>
            <br/>
            BACK TO <%= prev.title %>
          </a>
        </div>
        <% } %>
      	<div class="container content-text medium">
      		<h2 class="uppercase">Empat Jiwa Satu Tujuan: MENJADI LEBIH BAIK</h2>
      		<p>Suspendisse porttitor lacus metus, quis porttitor sapien sollicitudin eget. Aenean gravida placerat consectetur. Sed varius dapibus risus eu hendrerit. Curabitur non turpis sit amet ligula malesuada faucibus. Vestibulum elementum lacus eros, nec molestie neque vestibulum nec. Etiam sit amet vehicula felis, eu viverra metus. Curabitur euismod ante non elit finibus, quis maximus risus pretium.</p>
      		<p>Suspendisse porttitor lacus metus, quis porttitor sapien sollicitudin eget. Aenean gravida placerat consectetur. Sed varius dapibus risus eu hendrerit. Curabitur non turpis sit amet ligula malesuada faucibus. Vestibulum elementum lacus eros, nec molestie neque vestibulum nec.</p>
      		<div class="row body-image">
      			<div class="columns col-sm-12">
      				<div class="vid-thumbnail">
	      				<img src="images/video-sample-bg.jpg">
				      	<div class="absolute-content text-center">
				      		<div class="valign">
				      			<div class="inner middle">
						      		<div class="row">
						      			<div class="col-md-6 col-md-offset-3 title">
						      				<a href="#" class="video-play">
						      					<div class="valign">
						      						<div class="inner middle"><img src="images/arrow-right-lg.png"></div>
						      					</div>
						      				</a>
						      			</div>
						      		</div>
				      			</div>
				      		</div>
				      	</div>
      				</div>
      				<p><strong>Born To Sweat 2 Trailer: Ready, Set, Go!</strong></p>
      			</div>
      		</div>
      		<h2>THE ATHLETES</h2>
      		<p>Suspendisse porttitor lacus metus, quis porttitor sapien sollicitudin eget. Aenean gravida placerat consectetur. Sed varius dapibus risus eu hendrerit. Curabitur non turpis sit amet ligula malesuada faucibus. Vestibulum elementum lacus eros, nec molestie neque vestibulum nec. Etiam sit amet vehicula felis, eu viverra metus. Curabitur euismod ante non elit finibus, quis maximus risus pretium.</p>
      		<div class="row">
      			<div class="columns col-sm-3">
      				<a href="#" class="content-thumb">
      					<div class="image">
      						<img src="images/thumbnail-video-sample.jpg">
      						<div class="play-thumb">
      							<div class="valign">
      								<div class="inner middle">
					      				<div class="video-play">
					      					<div class="valign">
					      						<div class="inner middle"><img src="images/arrow-right-lg.png"></div>
					      					</div>
					      				</div>
      								</div>
      							</div>
      						</div>
      					</div>
      					<div class="text">
      						<div class="writer blue">by Emilia Achmadi, MS, RD</div>
      						<div class="title">5 makanan untuk menjaga stabilitas otot</div>
      					</div>
      				</a>
      			</div>
      			<div class="columns col-sm-3">
      				<a href="#" class="content-thumb">
      					<div class="image">
      						<img src="images/thumbnail-video-sample.jpg">
      						<div class="play-thumb">
      							<div class="valign">
      								<div class="inner middle">
					      				<div class="video-play">
					      					<div class="valign">
					      						<div class="inner middle"><img src="images/arrow-right-lg.png"></div>
					      					</div>
					      				</div>
      								</div>
      							</div>
      						</div>
      					</div>
      					<div class="text">
      						<div class="writer blue">by Emilia Achmadi, MS, RD</div>
      						<div class="title">5 makanan untuk menjaga stabilitas otot</div>
      					</div>
      				</a>
      			</div>
      			<div class="columns col-sm-3">
      				<a href="#" class="content-thumb">
      					<div class="image">
      						<img src="images/thumbnail-video-sample.jpg">
      						<div class="play-thumb">
      							<div class="valign">
      								<div class="inner middle">
					      				<div class="video-play">
					      					<div class="valign">
					      						<div class="inner middle"><img src="images/arrow-right-lg.png"></div>
					      					</div>
					      				</div>
      								</div>
      							</div>
      						</div>
      					</div>
      					<div class="text">
      						<div class="writer blue">by Emilia Achmadi, MS, RD</div>
      						<div class="title">5 makanan untuk menjaga stabilitas otot</div>
      					</div>
      				</a>
      			</div>
      			<div class="columns col-sm-3">
      				<a href="#" class="content-thumb">
      					<div class="image">
      						<img src="images/thumbnail-video-sample.jpg">
      						<div class="play-thumb">
      							<div class="valign">
      								<div class="inner middle">
					      				<div class="video-play">
					      					<div class="valign">
					      						<div class="inner middle"><img src="images/arrow-right-lg.png"></div>
					      					</div>
					      				</div>
      								</div>
      							</div>
      						</div>
      					</div>
      					<div class="text">
      						<div class="writer blue">by Emilia Achmadi, MS, RD</div>
      						<div class="title">5 makanan untuk menjaga stabilitas otot</div>
      					</div>
      				</a>
      			</div>
      		</div>
      		<h2>THE EXPERTS</h2>
      		<p>Suspendisse porttitor lacus metus, quis porttitor sapien sollicitudin eget. Aenean gravida placerat consectetur. Sed varius dapibus risus eu hendrerit. Curabitur non turpis sit amet ligula malesuada faucibus. Vestibulum elementum lacus eros, nec molestie neque vestibulum nec. Etiam sit amet vehicula felis, eu viverra metus. Curabitur euismod ante non elit finibus, quis maximus risus pretium.</p>
      		<div class="row body-image">
      			<div class="columns col-sm-2-5">
      				<img src="images/matias-ibo.jpg">
      				<h5 class="blue"><strong>MATIAS IBO</strong> <br/> <small>MEDICINE</small></h5>
      			</div>
      			<div class="columns col-sm-2-5">
      				<img src="images/andi.jpg">
      				<h5 class="blue"><strong>DR. ANDI K, SPKO</strong> <br/> <small>MEDICINE</small></h5>
      			</div>
      			<div class="columns col-sm-2-5">
      				<img src="images/monty.jpg">
      				<h5 class="blue"><strong>DR. MONTY P.</strong> <br/> <small>PSYCHOLOGY</small></h5>
      			</div>
      			<div class="columns col-sm-2-5">
      				<img src="images/pasurnay.jpg">
      				<h5 class="blue"><strong>PAULUS PASURNAY</strong> <br/> <small>PSYCHOLOGY</small></h5>
      			</div>
      			<div class="columns col-sm-2-5">
      				<img src="images/wita.jpg">
      				<h5 class="blue"><strong>COACH WITA</strong> <br/> <small>ATHLETIC NATIONAL COACH</small></h5>
      			</div>
      		</div>
      		<p>Suspendisse porttitor lacus metus, quis porttitor sapien sollicitudin eget. Aenean gravida placerat consectetur. Sed varius dapibus risus eu hendrerit. Curabitur non turpis sit amet ligula malesuada faucibus. Vestibulum elementum lacus eros, nec molestie neque vestibulum nec. Etiam sit amet vehicula felis, eu viverra metus. Curabitur euismod ante non elit finibus, quis maximus risus pretiumSuspendisse porttitor lacus metus, quis porttitor sapien sollicitudin eget. Aenean gravida placerat consectetur. Sed varius dapibus risus eu hendrerit. Curabitur non turpis sit amet ligula malesuada faucibus. Vestibulum elementum lacus eros, nec molestie neque vestibulum nec. Etiam sit amet vehicula felis, eu viverra metus. Curabitur euismod ante non elit finibus, quis maximus risus pretium.</p>
      		<p>Suspendisse porttitor lacus metus, quis porttitor sapien sollicitudin eget. Aenean gravida placerat consectetur. Sed varius dapibus risus eu hendrerit. Curabitur non turpis sit amet ligula malesuada faucibus. Vestibulum elementum lacus eros, nec molestie neque vestibulum nec. Etiam sit amet vehicula felis, eu viverra metus. Curabitur euismod ante non elit finibus, quis maximus risus pretium.</p>
      	</div>
        <%
          if (next != null) {
        %>
	      <div class="bottom-section">
	      	<a href="#campaign/<%= next.url %>" class="btn-direction uppercase">
            SEE <%= next.title %>
            <br/>
            <i class="fa fa-chevron-down"></i>
          </a>
	      </div>
        <% } %>
      </section>