      <section class="header">
        <%
          if (main.header_type == 'text-right' || main.header_type == 'text-left') {
            var bgPattern = 'hide-pattern';
            var bgOverlay = 'hide-overlay';
            var relativeImage = 'relative-xs';
            var barTitle = 'bar-title-xs';
          } else {
            var bgPattern = '';
            var bgOverlay = '';
            var relativeImage = '';
            var barTitle = '';
          }
        %>
      	<div class="image <%= relativeImage %>">
	      	<img src="images/article-sample.jpg" class="template">
					<div class="absolute-image <%= bgPattern %>" style="background-image: url(<%= apiUrl + 'uploads/' + main.image %>);"></div>
      	</div>
      	<div class="absolute-content text-center <%= bgOverlay %> <%= barTitle %>">
      		<div class="valign">
      			<div class="inner middle">
		      		<div class="row">
                <%
                  if (main.header_type == 'text-right') {
                    var text_position = 'col-sm-5 col-sm-offset-6 text-left';
                  } else if (main.header_type == 'text-left') {
                    var text_position = 'col-sm-5 col-sm-offset-1 text-right';
                  } else {
                    var text_position = 'col-sm-8 col-sm-offset-2 text-center';
                  }
                %>
		      			<div class="<%= text_position %> title">
		      				<h1 class="uppercase"><%= main.title %></h1>
                  <h3><%= main.caption %></h3>
		      				<p><strong>by <%= main.writer %> <br/> <small class="italic"><%= main.date %></small></strong></p>
		      			</div>
		      		</div>
      			</div>
      		</div>
      	</div>
      </section>
      <section class="block">
      	<div class="container content-text medium">

          <h2 class="text-center">EPISODE</h2>

<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#eps-1" aria-controls="eps-1" role="tab" data-toggle="tab">1</a></li>
    <li role="presentation"><a href="#eps-2" aria-controls="eps-1" role="tab" data-toggle="tab">2</a></li>
    <li role="presentation"><a href="#eps-3" aria-controls="eps-1" role="tab" data-toggle="tab">3</a></li>
    <li role="presentation"><a href="#eps-4" aria-controls="eps-1" role="tab" data-toggle="tab">4</a></li>
    <li role="presentation"><a href="#eps-3" aria-controls="eps-1" role="tab" data-toggle="tab">5</a></li>
    <li role="presentation"><a href="#eps-4" aria-controls="eps-1" role="tab" data-toggle="tab">6</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="eps-1"><%= main.content %></div>
    <div role="tabpanel" class="tab-pane" id="eps-2"><p>You can activate a tab or pill navigation without writing any JavaScript by simply specifying data-toggle="tab" or data-toggle="pill" on an element. Adding the nav and nav-tabs classes to the tab ul will apply the Bootstrap tab styling, while adding the nav and nav-pills classes will apply pill styling.</p></div>
    <div role="tabpanel" class="tab-pane" id="eps-3"><p>You can activate a tab or pill navigation without writing any JavaScript by simply specifying data-toggle="tab" or data-toggle="pill" on an element. Adding the nav and nav-tabs classes to the tab ul will apply the Bootstrap tab styling, while adding the nav and nav-pills classes will apply pill styling.</p></div>
    <div role="tabpanel" class="tab-pane" id="eps-4"><p>You can activate a tab or pill navigation without writing any JavaScript by simply specifying data-toggle="tab" or data-toggle="pill" on an element. Adding the nav and nav-tabs classes to the tab ul will apply the Bootstrap tab styling, while adding the nav and nav-pills classes will apply pill styling.</p></div>
  </div>

        </div>
        <div class="container content-text medium">
          <div class="row">
            <div class="columns col-sm-12 text-right">
              <div class="share-area">
                <span>SHARE:</span>
                <div class="share-btn">
                  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                    <a class="a2a_button_facebook"><i class="fa fa-facebook"></i></a>
                    <a class="a2a_button_twitter"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div style="display: none;">
                    <script type="text/javascript">
                    var a2a_config = a2a_config || {};
                            //a2a_config.linkname = "";
                            //a2a_config.linkurl = "";              
                    </script>
                    <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                    <script type="text/javascript">var switchTo5x=true;</script>
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <% if (related.length > 0) { %>
      <section class="block">
      	<div class="container content-list medium">
      		<h3 class="blue">RELATED ARTICLES</h3>
      		<div class="row slide-horizontal">
			      <%
			      	for (var c = 0; c < related.length; c++) {
			      		if (related[c].columns == 'small') {
			      %>
      			<div class="columns col-sm-3">
      				<a href="#article/<%= related[c].url %>" class="content-thumb" title="<%= related[c].title %>">
      					<div class="image">
      						<img src="images/thumbnail-sample.jpg" class="template">
      						<div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + related[c].image %>);"></div>
      					</div>
      					<div class="text">
      						<div class="title"><%= related[c].titleShort %></div>
                  <div class="subtitle"><%= related[c].caption %></div>
      						<div class="writer"><span class="blue"><%= related[c].writer %></span></div>
      					</div>
	      			</a>
    				</div>
      			<%
      					} else {
  					%>
      			<div class="columns col-sm-6">
      				<a href="#article/<%= related[c].url %>" class="content-thumb highlight" title="<%= related[c].title %>">
      					<div class="lable-top">HIGHLIGHT</div>
      					<div class="image">
      						<img src="images/thumbnail-highlight-sample.jpg" class="template">
      						<div class="absolute-image" style="background-image: url(<%= apiUrl + 'uploads/' + related[c].image %>);"></div>
      					</div>
      					<div class="text-content">
      						<div class="title"><%= related[c].title %></div>
      						<div class="caption"><%= related[c].caption %></div>
      						<div class="writer"><%= related[c].writer %></div>
      					</div>
      				</a>
      			</div>
  					<%
      					}
      				}
      			%>
      		</div>
      	</div>
      </section>
      <% } %>