$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@font-face {
  font-family: 'dinnextltpromedium';
  src: url('fonts/dinnextltpromedium.eot');
  src: url('fonts/dinnextltpromedium.eot') format('embedded-opentype'),
       url('fonts/dinnextltpromedium.woff2') format('woff2'),
       url('fonts/dinnextltpromedium.woff') format('woff'),
       url('fonts/dinnextltpromedium.ttf') format('truetype'),
       url('fonts/dinnextltpromedium.svg#dinnextltpromedium') format('svg');
}

@font-face {
  font-family: 'DINNextLTProBold';
  src: url('fonts/DINNextLTProBold.eot');
  src: url('fonts/DINNextLTProBold.eot') format('embedded-opentype'),
       url('fonts/DINNextLTProBold.woff2') format('woff2'),
       url('fonts/DINNextLTProBold.woff') format('woff'),
       url('fonts/DINNextLTProBold.ttf') format('truetype'),
       url('fonts/DINNextLTProBold.svg#DINNextLTProBold') format('svg');
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wl2z46');
  src:  url('fonts/icomoon.eot?wl2z46#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wl2z46') format('truetype'),
    url('fonts/icomoon.woff?wl2z46') format('woff'),
    url('fonts/icomoon.svg?wl2z46#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
  font-size: 80%;
}


@mixin background_cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin border_radius($value) {
  -webkit-appearance: none;
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  transform: $value;
}

@mixin perspective($value) {
  -webkit-perspective: $value;
  -moz-perspective: $value;
  perspective: $value;
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    transition: $value;
}

@mixin transition-delay($value) {
    -webkit-transition-delay: $value;
    -moz-transition-delay: $value;
    transition-delay: $value;
}

@mixin box_shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

@mixin play-animation($value) {
    -webkit-animation: $value; -moz-animation: $value; animation: $value;
}

@mixin animation-paly-state($value) {
    -webkit-animation-play-state: $value; -moz-animation-play-state: $value; animation-play-state: $value;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;

  &.full-height {
    height: 100%;
  }

  #wrap {
    height: 100%;
  }
}

*, *:focus, *:active, *:hover {
  outline: none !important;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'dinnextltpromedium';
}

img {
  max-width: 100%;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #00b3e7;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 5px;
}

.html-content {
  @include transition(all .5s ease);
  visibility: hidden !important;
  opacity: 0 !important;
}

.pace-done, .stay-visible {
  .html-content {
    visibility: visible !important;
    opacity: 1 !important;
  }
}

.stay-visible {
  .pace {
    display: none !important;
  }
}

#loading-overlay, #loading-upload {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,.7);
  text-decoration: center;
  display: none;
  color: #ffffff;

  .progress {
    width: 500px;
    margin: auto;

    .progress-bar {
      background-color: #1b6797;
    }

    @media screen and (max-width: 768px) {
      width: auto;
      margin: auto 20px;
    }
  }
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: bold;
}
h1, h2, h3, h4 {
  font-family: 'DINNextLTProBold';
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.blue {
  color: #0074bd !important;
}

.underline {
  text-decoration: underline;
}

.valign {
  display: table;
  width: 100%;
  height: 100%;

  .inner {
    display: table-cell;

    &.middle {
      vertical-align: middle;
    }

    &.bottom {
      vertical-align: bottom;
    }
  }
}

@media screen and (min-width: 768px) {
  .col-sm-2-5 {
    width: 20%;
    float: left;
  }
}

@media screen and (max-width: 768px) {
  .text-center-xs {
    text-align: center !important;
  }
}

.padding-20 {
  padding: 20px;

  &.without-bottom {
    padding-bottom: 0px;
  }
}

.navbar {
  background-color: #ffffff;
  @include border_radius(0);
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 10;
  border-bottom: solid 1px #e1e1e1;
  padding-left: 10px;
  padding-right: 10px;

  .socmed {
    position: absolute;
    right: 10px;
    height: 100%;
    top: 0px;

    a {
      margin: auto 5px;
    }
  }

  .navbar-header {

    .burger {
        width: 30px;
        height: 24px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin: 10px;

        .bars, .bars:before, .bars:after {
            cursor: pointer;
            border-radius: 1px;
            height: 4px;
            width: 100%;
            background: #0074bd;
            position: absolute;
            display: block;
            content: '';
            transition: all .5s ease-in-out;
            @include transform(rotate(0deg));
            top: 10px;
        }

        .bars:before {
            top: -10px;
        }

        &.opened {
            .bars {
                background-color: transparent;
            }

            .bars:before, .bars:after {
                top: 0px;
                background-color: #d61820;
            }

            .bars:before {
                @include transform(rotate(45deg));
            }

            .bars:after {
                @include transform(rotate(-45deg));
            }
        }
    }

    .logo {
      display: inline-block;
      padding: 8px 20px 7px;
      border-left: solid 1px #d7d7d7;
      border-right: solid 1px #d7d7d7;
      margin-left: 10px;
    }
  }

  .navbar-nav {
    li {
      a {
        padding: 19px 25px;
      }
    }
  }

  .left-nav {
    li {
      a {
        @include transition(all .5s ease);
        background: none !important;
        position: relative;
        padding: 19px 15px;
        color: #5c5c5c;
        border-right: solid 1px #d7d7d7;
        text-align: center;
        min-width: 100px;

        &:after {
          position: absolute;
          height: 2px;
          background-color: #337ab7;
          content: '';
          display: block;
          left: 14px;
          right: 14px;
          bottom: 8px;
          @include transition(all .5s ease);
          visibility: hidden;
          opacity: 0;
        }

        &:hover {
          color: #23527c;
        }
      }

      &.active {
        a {
          color: #23527c;

          &:after {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    .auth-link {
      a {
        background-image: url(../images/auth-btn.png) !important;
        background-repeat: no-repeat !important;
        background-position: center left !important;
        color: #ffffff;
        padding: 19px 45px;
        text-transform: uppercase;

        .fa {
          display: inline-block;
          height: 20px;
          width: 20px;
          margin-right: 5px;
          background-position: center center;
          background-size: 97% auto;
          background-repeat: no-repeat;
          vertical-align: middle;
          margin-top: -2px;

          &.fa-signin {
            background-image: url(../images/login-icon.png);
          }

          &.fa-signout {
            background-image: url(../images/logout-icon.png);
          }
        }
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
      position: absolute;
      top: 1px;
      right: 20px;
      z-index: 2;

      li {
        float: left;

        a {
          padding: 10px;

          &:after {
            left: 10px;
            right: 10px;
            bottom: 8px;
          }
        }
      }
    }
  }
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.footer {
  overflow: hidden;
  color: #ffffff;
  padding: 30px 20px 25px;
  font-size: 9pt;
  position: relative;
  background: #0073bc;
  background: -moz-linear-gradient(top,  #0073bc 0%, #006baf 48%, #00629f 100%);
  background: -webkit-linear-gradient(top,  #0073bc 0%,#006baf 48%,#00629f 100%);
  background: linear-gradient(to bottom,  #0073bc 0%,#006baf 48%,#00629f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0073bc', endColorstr='#00629f',GradientType=0 );

  > * {
    position: relative;
    z-index: 3;
  }

  &:before, &:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-image: url(../images/dotted_pattern.png);
  }

  &:after {
    z-index: 2;
    background-image: url(../images/footer-bg.png);
    background-position: right center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  .otsuka-logo {
    margin-top: -15px;
    margin-right: 10px;
  }

  .socmed {
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    margin-left: 15px;

    a {
      display: inline-block;
      vertical-align: middle;
      margin: 0 2px;
      color: #ffffff;
      font-size: 10pt;
    }
  }
}

.bottom-fixed {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  text-align: center;
}

.offset-swap {
  position: relative;

  .sidebar-offset {
    position: fixed;
    left: 0px;
    top: 60px;
    bottom: 0px;
    width: 240px;
    background-color: #f8f8f8;
    overflow-y: auto;
    display: none;

    .profile {
      display: block;
      background-color: #004d9f;
      position: relative;
      height: 85px;

      * {
        position: relative;
        z-index: 2;
      }

      &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        background-image: url(../images/sportscience-circle-1.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center left;
        top: 0px;
        left: 0px;
      }

      .avatar {
        position: absolute;
        left: 15px;
        top: 50%;
        margin-top: -25px;
        width: 50px;
        height: 50px;
        @include border_radius(50%);
        border: solid 1px #ffffff;
        background-color: #ffffff;
        @include background_cover();
        display: block;
      }

      .text {
        height: 100%;
        color: #b1e1ff;
        font-size: 10pt;
        padding: 0 15px;
        margin-left: 65px;

        a {
          color: inherit;
          text-decoration: none;
        }

        .name {
          display: block;
          font-family: 'DINNextLTProBold';
          font-size: 12pt;
          color: #ffffff;
          text-transform: uppercase;
        }
      }
    }

    .menu-nav {
      position: relative;
      border-bottom: solid 1px #dcdde1;

      .item {
        position: relative;

        .header {
          background-color: #004d9f;
          color: #ffffff;
          padding: 15px;
          font-family: 'DINNextLTProBold';
          font-size: 12pt;
          border-bottom: solid 1px #f8f8f8;
          padding-right: 95px;
          position: relative;
          background-image: url(../images/sportscience-circle-3.png);
          background-repeat: no-repeat;
          background-position: left top;

          .button {
            position: absolute;
            width: 85px;
            padding: 13px 10px;
            height: 100%;
            right: 0px;
            top: 0px;

            &:before {
              position: absolute;
              width: 100%;
              height: 100%;
              content: '';
              display: block;
              left: 0px;
              top: 0px;
              background-image: url(../images/pattern-blue.png);
              opacity: .3;
              z-index: 1;
            }

            .btn {
              display: block;
              text-align: center;
              color: #004d9f !important;
              background-color: #ffffff;
              border: none;
              font-size: 9pt;
              padding: 5px;
              z-index: 2;
              position: relative;
            }
          }
        }
        .body {
          ul {
            padding-left: 0px;
            list-style: none;

            li {
              float: none;

              a {
                display: block;
                padding: 15px;
                background-color: #f8f8f8;
                text-decoration: none;
                color: #0074bd;
                border-bottom: solid 1px #dcdde1;
                font-weight: 500;
                font-size: 10pt;
                letter-spacing: 2px;
                text-transform: uppercase;
              }

              &:last-child {
                a {
                  border-bottom: none;
                }
              }
            }
          }
        }
      }
    }

    .bottom-cta {
      padding: 20px 10px;
      text-align: center;

      .title {
        color: #2b3135;
        font-family: 'DINNextLTProBold';
        text-transform: uppercase;
        margin: 10px auto;
      }

      .row {
        margin-left: -2px;
        margin-right: -2px;

        .columns {
          padding-left: 2px;
          padding-right: 2px;
        }
      }
    }
  }

  .content-offset {
    position: relative;
    margin-left: 0px;

    @media screen and (max-width: 1255px) {
      .block {
        .container {
          width: 100% !important;
        }

        .slick-control {
          &.left {
            left: 0px !important;
          }

          &.right {
            right: 0px !important;
          }
        }
      }
    }
  }

  &.nav-open {

    .sidebar-offset {
      display: block;
    }

    .content-offset {
      margin-left: 240px;
    }
  }
}

#wrap {
  padding-top: 60px;
  position: relative;

  .header {
    position: relative;
    overflow: hidden;

    > a {
      display: block;

      > img {
        width: 100%;
      }
    }

    > img {
      width: 100%;
    }

    h1 {
      font-size: 40pt;
      letter-spacing: .1;
    }

    .absolute-image {
      &:after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: 1;
        background-image: url(../images/pattern.png);
        opacity: .3;
      }

      &.hide-pattern {
        &:after {
          display: none !important;
        }
      }
    }

    .slide {
      .item {
        a {
          display: block;

          > img {
            width: 100%;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      .absolute-item.block.center-block {
        .content-text {
          margin-top:50px;
        }
        h2 {
          margin-bottom: 14px !important;
        }
        /*
        .countdown {
          margin-bottom: 20px !important;
          font-size: 4.2rem !important;

          margin-left: 0;
          margin-right: 0;
          .separator {
            padding-top:15px;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0px;
            padding-right: 0px;
            font-size: 3.2rem !important;
          }
          .item {
            padding-left: 4px;
            padding-right: 4px;
            margin-left: 0;
            margin-right: 0;
            font-size: 3.6rem !important;
          }
        }
        */
      }

      .absolute-content {
        position: relative !important;
        padding: 20px;

        .valign {
          display: block;

          .inner {
            display: block;
          }
        }

        h1 {
          font-size: 20pt;
        }
      }

      .image {
        position: absolute !important;
        height: 100%;

        &.relative-xs {
          position: relative !important;
        }
      }
    }

    .absolute-content {
      /*
      @media screen and (max-width: 960px) {
        h1 {
          font-size: 30pt !important;
        }
      }
      */

      @media screen and (max-width: 768px) {

        &.bar-title-xs {
          background: none !important;
          padding-bottom: 0px !important;

          h1 {
            margin: auto !important;
            color: #333333 !important;
            font-size: 25pt !important;
          }

          p {
            color: #333333 !important;
          }
        }
      }
    }

    .profile-section {
      background-color: #0060ac;
      height: 345px;

      * {
        position: relative;
        z-index: 2;
      }

      &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        background-image: url(../images/sportscience-circle-2.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center right;
        top: 0px;
        left: 0px;
      }

      .title-section {
        font-family: 'DINNextLTProBold';
        padding: 10px 20px;
        color: #ffffff;
        border-bottom: solid 1px #ffffff;
        font-size: 14pt;
      }

      .profile-content {
        height: 296px;
        margin-left: 0px;
        margin-right: 0px;
        position: relative;

        .avatar {
          border-right: solid 1px #ffffff;
          width: 240px;
          height: 100%;
          position: absolute;
          left: 0px;
          top: 0px;
          @include background_cover();

          .control-bottom {
            background-color: #0060ac;
            position: absolute;
            bottom: 0px;
            width: 100%;
            left: 0px;
            padding: 12px;
            text-align: center;

            a {
              display: inline-block;
              background-color: #d9e7f3;
              padding: 5px 15px;
              color: #004d9f;
              font-size: 12pt;
              text-decoration: none;
            }
          }
        }

        .text {
          margin-left: 240px;
          height: 100%;
          position: relative;

          .content {
            padding: 20px 25px;
            color: #ffffff;

            h2 {
              font-family: 'DINNextLTProBold';
              margin-top: 0px;
            }

            .meta {
              margin-bottom: 5px;

              .large {
                font-size: 12pt;
                font-weight: bold;
              }

              &:last-child {
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }
  .absolute-item.block.center-block {
    position: absolute;
    background: rgba(0,0,0,0.1);
    width: 100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 2;
    .content-text {
      padding-top:.4rem;
      @media (max-width: 575.98px)  {
        // padding-left:0px;
        // padding-right:0px;
        // font-size: 1.8rem;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
          // margin-top:0 !important;
          // padding:10px !important;
       }
      @media (min-width: 768px) and (max-width: 991.98px) {
        // padding-top:.5rem; // with button
        // padding-top:1.2rem;
        padding-top:.8rem;
      }
      @media (min-width:992px) and (max-width: 1199.98px) {
        // padding-top:.8rem; // with button
        padding-top:1.2rem;
      }
      @media (min-width:1199.98px) {
        // padding-top:.9rem; // with button
        padding-top:1.6rem;
      }
    }
    h3,h4 {
      margin-top: 5px !important;
      padding:0;
      margin-bottom: 2px;
      font-weight:100 !important;
      @media (min-width: 576px) and (max-width: 768px) {
        margin:0 !important;
        padding:0 !important
      }
      @media (min-width: 768px) and (max-width: 1023.76px) {
        margin:0 !important;
        padding:0 !important
      }
      @media (min-width:992px) and (max-width: 1199.98px) {
        // padding-top:.8rem; // with button
        margin-top:1rem !important;
      }
      @media (min-width:1199.98px) and (min-width: 1280px) {
        // padding-top:.8rem; // with button
        margin-top:.88rem !important;
      }
    }
    // h4.countdown_note {
      // margin-top: 1.8rem !important;
    // }
    .countdown {
      margin-bottom: 0px;
      @media (min-width: 768px) and (max-width: 1024px)  {
        margin-bottom: 0px;
      }
      @media (max-width: 1024px)  {
        margin: .1rem 0rem 0rem .1rem;
      }
      .separator {
        // margin-top: .05rem;
        margin-top: -2rem;
        font-size: 3.2rem;
      }
      .item {
        font-size: 4rem;
        .bg-item {
          background-image: url(../images/bg-countdown.jpg);
          background-repeat: repeat-x;
          background-size: auto 100%;
          background-position: center left;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          color:#1075b9;
          text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
          line-height:normal;
          -webkit-box-shadow: 0px 0px 6px 0px rgba(215,215,215,1);
          -moz-box-shadow: 0px 0px 6px 0px rgba(215,215,215,1);
          box-shadow: 0px 0px 6px 0px rgba(215,215,215,1);
          font-family:'Arial', 'Helvetica', 'Tahoma';
          padding-top:7px;
          padding-bottom:7px;
          padding-right:7px;
          padding-left:7px;
          // width: 56px;
          // width: 60px !important;
          width: 100% !important;
          margin: 0 auto;
          text-align:center;
          /*
          @media (min-width: 576px) and (max-width: 768px) {
            padding-top:5px;
            padding-bottom:5px;
            font-size: 1.9rem;
          }
          @media (max-width: 576px)  {
            padding-top:7px;
            padding-bottom:7px;
            font-size: 1.9rem;
          }

          @media (max-width: 1024px)  {
            padding-top:5px;
            padding-bottom:5px;
            font-size: 2.2rem;
            padding-top: .2rem;
            padding-bottom: .2rem;
          }
          */
        }
        span {
          margin-top: .2rem !important;
          font-size: 1.3rem;
          color:#ffffff !important;
          @media (min-width: 768px) and (max-width: 1024px) {
            // margin-top:.99rem;
          }
          @media (max-width: 1024px)  {
            // margin: .1rem;
          }
        }
      }
    }
    .countdown_note {
      // margin-top:0 !important;
     // margin-top: 1.6rem !important;
      padding-top:0 !important;
      font-weight:100 !important;
    }
    .btn.white-grad {
      padding: 4px 15px;
      @media (max-width: 1024px)  {
      }
    }
    .btn.white-grad.btn-lg {
      padding: 13px 20px !important;
      border-radius: 25px;
      text-transform: uppercase;
      // margin: 2rem 0 0 0;
      margin: 1.5rem 0 0 0;
      font-size: 2rem;
      -webkit-box-shadow: 0px 0px 18px 1px rgba(255,255,255,1);
      -moz-box-shadow: 0px 0px 18px 1px rgba(255,255,255,1);
      box-shadow: 0px 0px 18px 1px rgba(255,255,255,1);
      border: 1px solid #ececec;
      &:hover {
        -webkit-box-shadow: 0px 0px 18px 1px rgba(216,216,216,1);
        -moz-box-shadow: 0px 0px 18px 1px rgba(216,216,216,1);
        box-shadow: 0px 0px 18px 1px rgba(216,216,216,1);
        border: 1px solid #ffffff;
        color:#00426b !important;
      }
    }
  }
  .absolute-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.3);
    z-index: 2;

    .title {
      color: #ffffff;
    }

    h3 {
      margin-top: -10px;
    }

    &.hide-overlay {
      background-color: rgba(0,0,0,0);
    }
  }

  .vid-thumbnail {
    position: relative;
  }

  .video-play {
    width: 130px;
    height: 130px;
    @include border_radius(50%);
    background-color: rgba(255,255,255,.3);
    display: block;
    text-decoration: none;
    margin: auto;
    text-align: center;
  }

  .image {
    position: relative;

    > img {
      width: 100%;

      &.template {
        visibility: hidden;
        opacity: 0;
      }
    }

    .absolute-image {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      @include background_cover();
    }

    .play-thumb {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      background-color: rgba(0,116,189, .25);
      @include transition(all .5s ease);

      .video-play {
        width: 53px;
        height: 53px;

        img {
          width: 20px;
        }
      }

      &:hover {
        background-color: rgba(0,116,189, .10);
      }
    }
  }

  .block-low-grey {
    background-color: #f4f4f4;
    border-bottom: solid 2px #ffffff;

    &.hide-bottom-border {
      border-bottom: none;
    }

    &.hide-ss-symbol {
      border-bottom: none;
    }

    &:last-child {
      border-bottom: none;
    }

    &:after, &:before {
      display: none !important;
    }
  }

  .background-wrap {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .block {
    position: relative;
    padding: 1px;
    /*@extend .block-low-grey;*/

    &.grad-blue {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0479c2+0,0d80c8+44,1484cb+100 */
      background: #0479c2; /* Old browsers */
      background: -moz-linear-gradient(-45deg,  #0479c2 0%, #0d80c8 44%, #1484cb 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg,  #0479c2 0%,#0d80c8 44%,#1484cb 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg,  #0479c2 0%,#0d80c8 44%,#1484cb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0479c2', endColorstr='#1484cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

      color: #ffffff;
    }

    &.no-padding {
      padding: 0px !important;
    }

    &.full-height {
      overflow-y: auto;

      &.autoheight-xs {
        @media screen and (max-width: 768px) {
          height: auto !important;
        }
      }
    }

    &.grey {
      background-color: #f9f9f9;
    }

    &.blue {
      background-color: #1b6797;
      color: #ffffff;
    }

    > .background-pattern {
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: auto 110%;
      background-position: left 100%;
      z-index: 1;
      top: 0px;
      left: 0px;

      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-image: url(../images/line_pattern.png);
      }
    }

    > * {
      position: relative;
      z-index: 2;

      &:first-child {
        margin-top: -1px !important;
      }

      &:last-child {
        margin-bottom: -1px !important
      }
    }

    &:after {
      display: block;
      height: 4px;
      width: 100%;
      content: '';
      background-image: url(../images/block-bottom-border.png);
      background-repeat: repeat-x;
      z-index: 1;
      opacity: .3;
    }

    &:before {
      position: absolute;
      width: 50px;
      height: 50px;
      background-image: url(../images/sportscience-circle.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-color: #ffffff;
      @include border_radius(50%);
      z-index: 2;
      bottom: -20px;
      right: 40px;
      content: "";
      display: block;
    }

    &.hide-bottom-border {
      &:after, &:before {
        display: none !important;
      }
    }

    &.hide-ss-symbol {
      &:before {
        display: none !important;
      }
    }

    &:last-child {
      &:after, &:before {
        display: none;
      }
    }

    .breadcrumb {
      background: none;
      padding: 0px;
      margin-bottom: 0px;

      li {
        color: #0275be;
        margin-bottom: 0px !important;
        font-family: 'DINNextLTProBold';
        text-transform: uppercase;

        a {
          color: #0074bd;
        }

        + li {
          &:before {
            content: '>';
          }
        }
      }
    }

    .match {
      position: relative;
      border-bottom: solid 1px rgba(128,128,128,.20);
      margin-left: 104px;

      .match-date {
        position: absolute;
        left: -104px;
        top: -30px;
        width: 94px;
        height: 94px;
        text-align: center;
        border: solid 1px rgba(128,128,128,.20);
        font-size: 30pt;
        color: #8a8a8a;
        font-weight: 700;
        line-height: .5;

        span {
          display: block;
        }

        small {
          font-size: 12pt;
          font-weight: 400;
        }
      }

      .match-item {
        margin-left: 0px;
        margin-right: 0px;
        border: solid 1px #ebebeb;
        background-color: #ffffff;
        margin-top: 50px !important;
        margin-bottom: 35px !important;

        .columns {
          padding: 5px 15px;
          color: #8a8a8a;
          text-align: center;
          font-weight: 500;
          font-size: 14pt;
          position: relative;

          .score {
            position: absolute;
            background-color: #ffffff;
            color: #0074bd;
            width: 55px;
            height: 74px;
            line-height: 74px;
            font-weight: 700;
            font-size: 16pt;
            text-align: center;
            border: solid 1px #ebebeb;
            top: -20px;
            right: 0px;
          }

          &:first-child {
            .score {
              border-right: none;
            }
          }

          &:last-child {
            .score {
              border-left: none;
              right: auto;
              left: 0px;

              &:after {
                display: block;
                position: absolute;
                content: '-';
                color: inherit;
                top: 0px;
                left: -2px;
              }
            }
          }
        }
      }

      .venue {
        margin-bottom: 20px;
        background-color: #0074bd;
        display: inline-block;
        color: #ffffff;
        padding: 8px 10px;
        position: relative;

        * {
          display: inline-block;
          vertical-align: middle;
        }
      }

      &:first-child {
        .match-item {
          margin-top: 20px !important;
        }
      }
    }

    .content-text, .content-list {
      padding: 20px;

      &.auto-overflow-x {
        overflow-x: auto;
      }

      &.medium-padding {
        padding: 30px 20px;
      }

      > h1, > h2, > h3, > h4, > h5, > h4 {

        &:first-child {
          margin-top: 0px;
        }
      }

      @media screen and (max-width: 768px) {
        h2 {
          font-size: 18pt;
        }
      }

      &.vertical-padding {
        padding: 0 20px;
      }

      &.low-padding {
        padding: 5px 20px;
      }

      .normal-list {
        > .columns {
          margin-bottom: 10px;
        }
      }

      &.no-padding-v {
        padding-top: 0px;
        padding-bottom: 0px;
      }

      &.no-padding-top {
        padding-top: 0px;
      }

      .nav-tabs {
        text-align: center;
        border-bottom: none;

        li {
          margin-bottom: 0px;
          display: inline-block;
          vertical-align: bottom;
          float: none;
          margin-right: -4px;

          a {
            border: none;
            background: none;
            color: #ffffff;
            @include border_radius(0);
            @include transition(all .5s ease);
            padding: 15px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0074bd+0,228dd3+100 */
            background: #0074bd; /* Old browsers */
            background: -moz-linear-gradient(top, #0074bd 0%, #228dd3 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #0074bd 0%,#228dd3 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #0074bd 0%,#228dd3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0074bd', endColorstr='#228dd3',GradientType=0 ); /* IE6-9 */
            border: none;
            font-weight: 700;

            @media screen and (max-width: 768px) {
              padding: 12px;
              font-size: 9pt;
            }
          }

          &.active {
            a {
              /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafeff+0,dad8db+100 */
              background: #fafeff; /* Old browsers */
              background: -moz-linear-gradient(top, #fafeff 0%, #dad8db 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(top, #fafeff 0%,#dad8db 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom, #fafeff 0%,#dad8db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafeff', endColorstr='#dad8db',GradientType=0 ); /* IE6-9 */
              color: #0074bd;
            }
          }
        }
      }

      p, li {
        line-height: 2;
        font-size: 12pt;
        color: #000000;
        margin-bottom: 20px;
        text-align: left;
      }

      .body-image {
        margin-bottom: 0px !important;
        margin-left: -5px;
        margin-right: -5px;

        .columns {
          padding-left: 5px !important;
          padding-right: 5px !important;

          margin-bottom: 20px;
          text-align: center;

          &:last-child {
            margin-bottom: 0px;
          }

          h5 {
            line-height: 1.3;
          }

          @media screen and (max-width: 768px) {
            margin-bottom: 10px;
          }
        }
      }

      > .row {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 20px;

        .columns {
          padding: 5px 10px;
        }

        &:last-child {
          margin-bottom: 0px;
        }

        &.medium-padding {
          margin-left: -15px;
          margin-right: -15px;

          .columns {
            padding: 5px 15px;
          }
        }

        &.content-columns {
          @media screen and (max-width: 768px) {
            .columns {
              margin-bottom: 20px;

              &:last-child {
                margin-bottom: 0px;
              }
            }
          }
        }
      }

      .content-thumb {
        @include transform(translateY(0px));
        @include transition(all .5s cubic-bezier(0.44, 0.22, 0.05, 0.99));
        @include box_shadow(0px 6px 20px -4px rgba(0,0,0,0));
        display: block;
        text-decoration: none;

        &:hover {
          @include transform(translateY(-5px));
          @include box_shadow(0px 6px 15px -4px rgba(0,0,0,0.30));
        }

        .text {
          padding: 10px;
          background-color: #ffffff;

          > * {
            &:last-child {
              margin-bottom: 0px !important;
            }
          }
        }

        .title {
          letter-spacing: .1px;
        }

        &.highlight {
          .image {
            .absolute-image {
              &:after {
                position: absolute;
                content: '';
                display: block;
                height: 100%;
                width: 100%;
                left: 0px;
                top: 0px;
                background-image: url(../images/article-overlay-thumb.png);
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: 100% auto;
              }
            }

            .template {
              @media screen and (max-width: 768px) {
                height: 280px;
              }
            }
          }

          .text-content {
            z-index: 2;

            .title {
              font-size: 18pt;
              line-height: normal;
            }

            .blue {
              color: #4385ff !important;
            }
          }
        }

        .title {
          font-family: 'dinnextltpromedium';
          color: #3e3e3e;
          font-size: 11pt;
          margin-bottom: 10px;
        }

        .subtitle {
          color: #3e3e3e;
          font-size: 8pt;
          margin-bottom: 10px;
          margin-top: -10px;
        }

        .writer {
          font-size: 8pt;
          color: #afafaf;

          + .title {
            margin-top: 10px;
            margin-bottom: 0px;
          }
        }

        &.video {
          .play-thumb {
            img {
              display: inline-block !important;
            }
          }

          .text {
            padding: 10px;
          }
        }

        &.highlight {
          position: relative;

          .text-content {
            color: #ffffff;
            position: absolute;
            bottom: 0px;
            width: 100%;
            letter-spacing: 0px;
            padding: 20px 0;

            .title {
              color: #ffffff;
              margin-bottom: 0px;
            }

            .title, .caption, .writer {
              padding: 0 20px;
              color: #ffffff;
            }

            .caption {
              border-bottom: solid 1px #ffffff;
              padding-bottom: 10px;
              margin-bottom: 10px;
            }

          }

          .lable-top {
            background-color: #003e8f;
            top: 0px;
            left: 20px;
            color: #ffffff;
            position: absolute;
            padding: 5px 10px;
            font-family: 'dinnextltpromedium';
            z-index: 2;
          }
        }
      }

      @media screen and (min-width: 960px) {
        &.medium {
          width: 960px;
        }
      }
    }

    .box-content {
      background-color: #ffffff;
      padding: 15px;
      margin-bottom: 10px;
    }

    &.regist-bg {
      background-image: url(../images/regist-bag.jpg);
      @include background_cover();

      > * {
        position: relative;
        z-index: 2;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100% !important;
        height: 100% !important;
        left: 0px;
        top: 0px;
        background: none;
        background-image: url(../images/pattern.png);
        opacity: .1;
        @include border_radius(0);
        right: auto;
        bottom: auto;
        z-index: 1;
      }
    }

    .countdown {
      display: inline-block;
      //border: solid 2px #ffffff;
      margin-bottom: 20px;

      .separator {
        display: inline-block;
        vertical-align: middle;
        font-size: 34pt;
        color: #ffffff;
        margin-top: -2rem;
      }

      .item {
        display: inline-block;
        vertical-align: middle;
        font-size: 76pt;
        position: relative;
        line-height: normal;
        padding: 8px 16px;
        span {
          font-size: 11pt;
          font-weight: 100;
          display: block;
        }

        &:after {
          display: inline-block;
          content: ':';
          margin: auto 5px;
          display: none;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }

        @media screen and (max-width: 768px) {
          font-size: 34pt;
          padding: 8px 10px;

          span {
            font-size: 12pt;
          }
        }
      }

      &.small {
        margin-bottom: 0px;
      }
    }

    .side-bar {
      margin-bottom: 20px;

      &.vertical {
        h3 {
          color: #8a8a8a;
          margin-top: 0px;
        }

        .box {
          @include box_shadow(3px 3px 18px -5px rgba(0,0,0,0.75));
          padding: 0 15px;
          background-color: #ffffff;

          .field {
            border-bottom: solid 1px #8a8a8a;
            padding: 10px;
            color: #8a8a8a;
            font-size: 12pt;

            .field-label {
              font-size: 13pt;
              color: #0074bd;
              font-weight: 700;
            }

            &:last-child {
              border: none;
            }
          }
        }
      }

      &.horizontal {
        background-color: #0074bd;
        color: #ffffff;
        padding: 15px 25px;

        .title {
          font-size: 13pt;
          font-family: 'DINNextLTProBold';
        }
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .share-area {
    display: inline-block;
    padding: 8px 12px;
    position: relative;

    span {
      font-family: 'DINNextLTProBold';
      margin-bottom: -3px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      background-image: url(../images/pattern.png);
      opacity: .1;
    }

    > * {
      position: relative;
      z-index: 2;
      display: inline-block;
      vertical-align: middle;
      font-size: 12pt;

      .a2a_kit {
        > * {
          margin: auto 3px;
        }
      }
    }
  }

  .indicator {
    position: fixed;
    height: 100%;
    right: 0px;
    top: 0px;
    z-index: 10;

    .button-group {
      width: 40px;
      margin-right: -20px;

      .item {
        width: 18px;
        height: 18px;
        background-color: #9f9f9f;
        display: block;
        margin: 10px auto;
        @include border_radius(50%);
        position: relative;
        @include transition(all .5s cubic-bezier(0.44, 0.22, 0.05, 0.99));

        .label {
          position: absolute;
          color: #2186c6;
          right: 100%;
          width: 150px;
          height: 100%;
          text-align: right;
          font-family: 'DINNextLTProBold';
          font-size: 10pt;
          padding-right: 5px;
          visibility: hidden;
          opacity: 0;
        }

        &.active, &:hover {
          width: 40px;
          height: 40px;
          background-color: #2186c6;

          .label {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  .bottom-section, .top-section {
    position: relative;
    margin-top: 40px;
    margin-bottom: -1px;

    .btn-direction {
      background-color: #003e8f;
      color: #ffffff;
      font-family: 'dinnextltpromedium';
      margin: auto;
      padding: 10px;
      padding-top: 15px;
      width: 200px;
      position: absolute;
      left: 50%;
      margin-left: -100px;
      bottom: 0px;
      display: block;
      text-align: center;
      text-decoration: none;
      line-height: normal;
    }
  }

  .top-section {
    margin-top: -1px;
    margin-bottom: 60px;

    .btn-direction {
      bottom: auto;
      top: 0px;
    }
  }

  form {
    &.white-color {
      * {
        color: #ffffff;
        text-align: center !important;
      }

      label {
        text-align: left !important;
      }

      p {
        color: #c8c8c8 !important;
        font-size: 12pt !important;
      }
    }

    h1, h2, h3 {
      font-family: 'dinnextltpromedium';
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .avatar {
      width: 105px;
      height: 105px;
      position: relative;
      margin: 10px auto 20px;
      background-color: #ffffff;
      @include border_radius(50%);
      display: block;
      text-align: center;
      font-family: 'dinnextltpromedium';
      @include background_cover();

      &:before {
        position: absolute;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        content: '';
        display: block;
        border: solid 1px #ffffff;
        @include border_radius(50%);
      }

      &.browse-avatar {
        margin: 10px auto;

        &.filled {
          > * {
            display: none;
          }
        }

        &:before {
          display: none;
        }
      }

      * {
        color: #b9cdd9 !important;
      }
    }

    .form-group {
      position: relative;
      min-height: 45px;

      .error-message {
        position: absolute;
        background-color: #448ccb;
        font-size: 9pt;
        color: #ffffff;
        top: 0px;
        left: 101%;
        width: 200px;
        line-height: normal;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        @include transition(all .5s ease);

        .inner {
          padding: 8px 10px;
          text-align: left !important;
        }

        &:before {
          position: absolute;
          content: '';
          display: block;
          width: 10px;
          height: 100%;
          right: 100%;
          top: 0px;
          background-image: url(../images/error-caret.png);
          background-position: center center;
          background-repeat: no-repeat;
        }
      }

      .form-control {
        background: none;
        @include border_radius(0px);
        border: none;
        border-bottom: solid 1px #ffffff;
        @include box_shadow(none);
        color: #ffffff;
        text-align: left !important;
        padding: 12px 15px;
        height: auto;

        &.with-bg {
           border: none;
           background-color: #ffffff;
           color: #8a8a8a;
        }

        option {
          color: #8a8a8a;
        }
      }

      .select-group {
        margin-left: -5px;
        margin-right: -5px;

        .columns {
          padding-left: 5px;
          padding-right: 5px;
        }
      }

      &:last-child {
        margin-bottom: 0px;
      }

      &:after {
        visibility: hidden;
        opacity: 0;
        @include transition(all .5s ease);
      }

      &.error {
        &:after {
          display: block;
          content: '';
          width: 28px;
          height: 28px;
          background-image: url(../images/error-icon.png);
          background-position: center center;
          background-repeat: no-repeat;
          right: 10px;
          bottom: 8px;
          position: absolute;
          visibility: visible;
          opacity: 1;
        }

        .error-message {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .separator {
      height: 2px;
      background-color: #ffffff;
    }

    .text-left {
      text-align: left !important;
    }

    ::-webkit-input-placeholder {
      color: #70add4;
    }
    ::-moz-placeholder {
      color: #70add4;
    }
    :-ms-input-placeholder {
      color: #70add4;
    }
    :-moz-placeholder {
      color: #70add4;
    }

  }

  .chat {

    .columns {
      position: relative;
    }

    .status-label {
      position: absolute;
      top: 30px;
      right: 30px;
      font-family: 'DINNextLTProBold';
      background-color: #ffffff;
      padding: 10px 20px 0px;
      color: #0275bd;
      font-size: 40pt;
      @include transition(all .5s ease);
      @include border_radius(10px);

      .now {
        position: absolute;
        color: #ffffff;
        background-color: #8acc50;
        padding: 4px 15px;
        top: -10px;
        right: -10px;
        font-size: 9pt;
        @include transition(all .5s ease);
        @include border_radius(0 20px);
      }

      &.is-online {

        .now {
          @include play-animation(onlineDim .5s infinite);
        }
      }

      @media screen and (max-width: 768px) {
        font-size: 25pt;
        top: 17px;
        right: 15px;
      }
    }

    .inner-content {
      padding: 30px;

      p {
        color: #8a8a8a;
      }

      > h4 {
        margin-top: 0px;
        margin-bottom: 10px;
      }

      > h2 {
        margin-top: 0px;
      }
    }

    .online-label {
      color: #8a8a8a;
      padding: 5px 8px;
      position: absolute;
      z-index: 4;
      right: 0px;
      top: 90px;
      background-color: #ffffff;
      @include box_shadow(-1px 3px 14px 1px rgba(0,0,0,0.37));

      * {
        display: inline-block !important;
        vertical-align: middle !important;
      }

      .green-indicator {
        width: 13px;
        height: 13px;
        display: inline-block;
        vertical-align: middle;
        background-color: #8acc4f;
        @include border_radius(50%);
        margin: auto 5px;
      }

      .large {
        font-family: 'DINNextLTProBold';
        font-size: 23pt;
        color: #0275bd;
        line-height: 1;
        display: inline-block;
        margin-bottom: -5px;
      }

      &.bottom-bar {
        left: 0px;
        top: auto;
        text-align: center;
        bottom: 0px;
        background-color: #0056a2;
        color: #ffffff;
        padding: 10px;

        .large {
          color: #ffffff;
        }

        @media screen and (max-width: 768px) {
          position: fixed;
        }
      }
    }

    &.expert {
      .columns {
        overflow-x: hidden;
        overflow-y: auto;

        &.user-list {
          background-color: #0074bd;

          .top-header {
            position: relative;

            .row {
              border-bottom: solid 1px #ffffff;
              margin-left: 20px;
              margin-right: 0px;

              .columns {
                padding: 10px 12px;
                color: #ffffff;
                font-size: 13pt;
                font-weight: 700;
                line-height: 1.2;

                &:last-child {
                  background-color: #d9eaf5;
                  color: #0074bd;
                  text-align: right;
                }
              }
            }
          }

          .list {
            .item {
              border-bottom: solid 1px #1a82c4;
              color: #ffffff;
              padding: 9px 10px;
              padding-left: 32px;
              display: block;
              text-decoration: none;
              cursor: pointer;
              @include transition(all .5s ease);
              position: relative;
              overflow: hidden;

              &.notif {
                @include play-animation(lightShadow .5s infinite);
              }

              &:after {
                display: block;
                content: '';
                clear: both;
              }

              .toolbar {
                background-color: rgba(51,144,202,0);
                padding: 8px;
                position: absolute;
                right: 0px;
                top: 0px;
                height: 100%;
                @include transition(all .5s ease);
                @include box_shadow(-6px 0px 13px 0px rgba(51,144,202,0));

                .icon {
                  display: inline-block;
                  vertical-align: middle;
                  background-position: center center;
                  background-repeat: no-repeat;
                  font-size: 8pt;
                  text-align: center;
                  width: 20px;
                  height: 20px;
                  margin-left: 5px;
                  @include transition(all .5s ease);

                  &.unread {
                    color: #0074bd;
                    width: 21px;
                    height: 19px;
                    background-image: url(../images/unread-message-icon.png);

                    &.hide {
                      display: none;
                    }
                  }

                  &.hide-icon {
                    visibility: hidden;
                    opacity: 0;
                    @include transform(translateX(10px));
                  }
                }
              }

              &:hover {
                background-color: #3390ca;
                font-weight: 700;

                .toolbar {
                  background-color: rgba(51,144,202,1);
                  @include box_shadow(-6px 0px 13px 0px rgba(51,144,202,1));

                  .icon {
                    &.hide-icon {
                      @include transform(translateX(0px));
                      visibility: visible;
                      opacity: 1;
                    }

                    &.ellipse {
                      background-image: url(../images/ellipse-icon.png);
                    }

                    &.remove {
                      background-image: url(../images/remove-icon.png);
                    }
                  }
                }
              }
            }
          }
        }

        &.chat-area {
          .top-header {
            padding: 10px;
            border-bottom: solid 1px #f3f3f3;
            color: #8a8a8a;
            font-size: 12pt;
            text-align: center;
            background-color: #ffffff;
            position: relative;
            z-index: 2;
            text-align: left;

            .countdown {
              color: #0275be;
              font-size: 23pt;
              font-family: 'DINNextLTProBold';
              display: inline-block;
              vertical-align: middle;
            }

            .text-left {
              text-align: left !important;
            }

            h3 {
              text-align: left;
              margin-top: 0px;
              margin-bottom: 0px;
              color: #0275be;
              font-family: 'dinnextltpromedium';

              strong {
                font-family: 'DINNextLTProBold';
              }

              .grey {
                color: #8a8a8a;
              }

              &.inline {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;

                &:last-child {
                  margin-right: 0px;
                }
              }
            }

            .right-content {
              padding: 3px;

              > * {
                display: inline-block;
                vertical-align: middle;
              }

              .live {
                background-color: #0075bb;
                font-family: 'DINNextLTProBold';
                font-size: 16pt;
                padding: 5px 10px 1px;
                color: #ffffff;
                display: inline-block;
              }

              .countdown-2 {
                padding: 0 10px;

                .title {
                  font-size: 9pt;
                }

                .stream-item {
                  color: #0075bb;
                  font-family: 'DINNextLTProBold';
                  font-size: 16pt;
                }
              }
            }

            @media screen and (max-width: 768px) {
              padding-top: 20px;

              h3 {
                font-size: 10pt;
              }

              .right-content {
                position: absolute;
                top: 0px;
                right: 0px;

                .live {
                  font-size: 12pt;
                }

                .title {
                  font-size: 8pt !important;
                }

                .stream-item {
                  font-size: 12pt !important;
                }
              }
            }
          }

          .chat-room {
            overflow: hidden;
            overflow-y: auto;
            position: absolute;
            z-index: 1;
            width: 100%;
            top: 65px;
            bottom: 136px;
            padding: 0px;
            background-color: #ffffff;

            @media screen and (max-width: 768px) {
              top: 72px;
            }

            &.without-header {
              top: 0px;
              border: none;
            }

            .messsage {
              display: block;
              margin: 10px;
              margin-bottom: 10px;
              position: relative;

              .avatar {
                height: 38px;
                width: 38px;
                @include border_radius(50%);
                background-color: #e4e4e4;
                position: absolute;
                top: 10px;
                left: 10px;
                @include background_cover();
              }

              .text {
                margin-left: 58px;
                border-left: solid 2px #959595;
                padding: 15px;
                color: #8a8a8a;
                position: relative;

                &:before {
                  content: '';
                  display: block;
                  position: absolute;
                  width: 9px;
                  height: 13px;
                  left: 0px;
                  top: 15px;
                  background-image: url(../images/caret-right-grey.png);
                  background-position: center center;
                  background-repeat: no-repeat;
                }

                h4 {
                  color: #8a8a8a;
                  font-weight: 700;
                  margin-top: 0px;

                  .time {
                    color: #8a8a8a;
                  }

                  @media screen and (max-width: 768px) {
                    font-size: 9pt;
                  }
                }

                p {
                  margin-bottom: 0px;
                }
              }

              &.right {
                .avatar {
                  left: auto;
                  right: 10px;
                }

                .text {
                  margin-left: auto;
                  margin-right: 58px;
                  border-left: none;
                  text-align: right;
                  border-right: solid 2px #959595;

                  h4 {
                    color: #8a8a8a;
                  }

                  &:before {
                    left: auto;
                    right: 0px;
                    background-image: url(../images/caret-left-grey.png);
                  }
                }
              }

              &.you {
                .text {
                  border-left: solid 2px #0074bd;

                  &:before {
                    background-image: url(../images/caret-right.png);
                  }

                  h4 {
                    color: #0074bd;
                  }
                }

                &.right {
                  .text {
                    border-left: none;
                    border-right: solid 2px #0074bd;

                    &:before {
                      left: auto;
                      right: 0px;
                      background-image: url(../images/caret-left.png);
                    }
                  }
                }
              }
            }
          }

          .message-area {
            position: absolute;
            z-index: 2;
            bottom: 0px;
            width: 100%;
            left: 0px;
            background-color: #ffffff;

            .input-area {
              padding: 20px 0;
              border-top: solid 1px #dddbdd;

              &.lock {
                pointer-events: none;
              }

              > .row {
                margin-left: 10px;
                margin-right: 10px;

                > .columns {
                  padding-left: 5px;
                  padding-right: 5px;
                }
              }

              .helpblock {
                color: #8a8a8a;
                font-size: 9pt;
              }

              textarea {
                border: solid 1px #dddbdd;
                height: 95px;
                width: 100%;
                display: block;
                resize: none;
                padding: 10px;
                background-color: #f9f9f9;

                @media screen and (max-width: 768px) {
                  height: 50px;
                }
              }

              ::-webkit-input-placeholder {
                color: #cccccc;
              }
              ::-moz-placeholder {
                color: #cccccc;
              }
              :-ms-input-placeholder {
                color: #cccccc;
              }
              :-moz-placeholder {
                color: #cccccc;
              }

              .btn-area {
                margin-left: -5px;
                margin-right: -5px;
                padding: 25px 0;

                .columns {
                  padding-left: 5px;
                  padding-right: 5px;
                }
              }

              form {
                @media screen and (max-width: 768px) {

                  > .columns {
                    padding: 0px;

                    .btn-area {
                      padding: 10px;
                    }
                  }
                }
              }
            }
          }
        }

        &.answer-template {
          background-color: #e5e5e5;
          border-right: solid 1px #dddbdd;

          .top-header {
            position: relative;

            .row {
              border-bottom: solid 1px #c7c7c7;
              margin-left: 10px;
              margin-right: 10px;

              .columns {
                padding: 10px 12px;
                color: #8a8a8a;
                font-size: 13pt;
                font-weight: 700;
              }
            }
          }

          .list {
            padding: 10px;
            padding-top: 20px;

            .item {
              padding: 20px;
              color: #8a8a8a;
              background-color: #dcdcdc;
              line-height: 1.5;
              margin-bottom: 10px;
              @include transition(all .5s cubic-bezier(0.44, 0.22, 0.05, 0.99));

              .control {
                @include transition(all .5s cubic-bezier(0.44, 0.22, 0.05, 0.99));
                border-top: solid 1px #dcdcdc;
                padding-top: 10px;
                margin-top: 0px;
                overflow: hidden;
                height: 0px;
                visibility: hidden;
                opacity: 0;

                .set-control {
                  color: #8a8a8a;
                  text-align: center;
                  font-size: 16pt;
                  padding: 0 10px;
                  display: block;

                  &:hover {
                    color: #0074bd;
                  }
                }
              }

              &:hover {
                background-color: #ffffff;

                .control {
                  height: 40px;
                  visibility: visible;
                  opacity: 1;
                  margin-top: 10px;
                }
              }
            }
          }
        }
      }
    }

    .landing-content {
      margin-bottom: 45px;

      .button-area {
        position: relative;

        > * {
          display: inline-block;
          vertical-align: middle;
          margin: auto 10px;
        }

        .countdown-1 {
          color: #8a8a8a;

          .title {
            font-size: 9pt;
            text-align: left;
            margin-bottom: 2px;
            padding: 0 2px;
          }

          .item {
            display: inline-block;
            vertical-align: middle;
            margin: auto 2px;

            span {
              font-family: 'DINNextLTProBold';
              display: block;
              border: solid 1px #f0f0f0;
              color: #0275bd;
              line-height: normal;
              padding: 5px 5px 1px;
              font-size: 16pt;
              margin-bottom: -2px;
            }

            small {
              font-size: 8pt !important;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .expert-image-landing {
      text-align: left;

      img {
        height: 250px;
      }
    }
  }
}

.black-background {
  background-color: #000000;
}

.slick-slider {
  position: relative;

  .slick-list {
    padding-bottom: 10px;

    .slick-slide {
      @include transition(all .3s ease);
    }
  }

  .slick-control {
    position: absolute;
    width: 43px;
    padding: 15px;
    background-color: rgba(0,116,189, .30);
    text-align: center;
    top: 50%;
    margin-top: -33px;
    z-index: 2;
    visibility: visible;
    opacity: 1;
    @include transition(all .5s ease);

    &.left {
      left: -40px;
    }

    &.right {
      right: -40px;
    }

    &.slick-disabled {
      visibility: hidden;
      opacity: 0;
    }

    @media screen and (max-width: 768px) {
      top: 30%;
      background-color: rgba(0,116,189, .87);
    }

    @media screen and (max-width: 1100px) {
      &.left {
        left: -10px;
      }

      &.right {
        right: -10px;
      }
    }
  }

  &:hover {
    .slick-control {
      background-color: rgba(0,116,189, .87) !important;
    }
  }
}

.btn {
  background-color: #ffffff;
  @include border_radius(0px);
  border: solid 1px #ffffff;
  padding: 10px 15px;
  text-align: center;
  color: #0074bd !important;
  font-family: 'DINNextLTProBold';
  font-size: 12pt;

  &.btn-block {
    display: block;
  }

  &.btn-grey {
    background-color: #8a8a8a;
    color: #ffffff !important;
  }

  &.btn-blue {
    background-color: #0056a2;
    color: #ffffff !important;
  }

  &.btn-blue-pocari {
    background-color: #0074bd;
    border: solid 1px #0074bd;
    color: #ffffff !important;
  }

  &.btn-transparent {
    background: none;
    color: #ffffff !important;
    border: none;
  }

  &.white-grad {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ececec+0,d1d1d1+51,bbbbbb+100 */
    background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(top, #ececec 0%, #d1d1d1 51%, #bbbbbb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ececec 0%,#d1d1d1 51%,#bbbbbb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ececec 0%,#d1d1d1 51%,#bbbbbb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
    color: #0074bd;
    border: none;
    @include border_radius(5px);
    padding: 13px 20px;
    text-shadow: 1px 1px 1px #ffffff;
  }

  &.disable {
    pointer-events: none;
    opacity: .8;
    color: #606d75 !important;
  }
}

.row {

  &.full-height-row {
    height: 100%;

    margin: -1px;

    > .columns {
      height: 100%;
    }
  }

  &.no-padding {
    margin: auto !important;

    > .columns {
      padding: 0px;
    }
  }

  .white-bg {
    background-color: #ffffff;
  }

  .columns {
    &.no-padding {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
}

.hide-overflow {
  overflow: hidden;
}

.single-slider {
  .item {
    img {
      width: 100%;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding-left: 0px;

    li {
      display: inline-block;
      vertical-align: middle;
      width: 10px;
      height: 10px;
      @include border_radius(50%);
      border: solid 1px #ffffff;
      background-color: rgba(255,255,255,0);
      margin: 3px;

      * {
        display: none;
      }

      &.slick-active {
        background-color: rgba(255,255,255,1);
      }
    }
  }
}

.table {

  &.block-xs-table {
    @media screen and (max-width: 768px) {
      tr, td {
        display: block;
        border: none !important;
        line-height: 1;
      }

      tr {
        margin-bottom: 20px;
        border-bottom: solid 1px #ddd !important;
        padding: 10px;

        &.extra {
          border-bottom: none !important;
        }

        &.extra + tr {
          margin-top: -30px;
        }

        &:last-child {
          border-bottom: none !important;
        }
      }

      .mobile-large {
        font-size: 14pt;
        color: #ffffff;
        padding: 10px;
        background-color: #0074bd;
        display: block;
      }
    }
  }

  &.yes-padding {
    td {
      padding: 15px !important;

      p, li {
        margin-bottom: 10px !important;

        &:last-child {
          margin-bottom: 0px !important;
        }
      }
    }
  }
}

@include keyframes(onlineDim) {
    0% {
      background-color: #8acc50;
    }
    100% {
      background-color: #53a63e;
    }
}

@include keyframes(lightShadow) {
    0% { background-color: rgba(51,144,202, 0); }
    100% { background-color: rgba(51,144,202, 1); }
}

::-webkit-scrollbar {
  width: 5px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.3);
}

.panel-group {
  .panel-heading {
    background-color: #0074bd;
    border: none;
    color: #ffffff;
    @include border_radius(0);
    position: relative;

    a {
      text-decoration: none;
    }

    &:after {
      width: 18px;
      height: 18px;
      @include border_radius(50%);
      content: '';
      border: solid 1px #ffffff;
      top: 10px;
      right: 10px;
      display: block;
      position: absolute;
      background-image: url(../images/arrow-bottom-xs.png);
      background-position: center center;
      background-repeat: no-repeat;
    }

    &.active {
      &:after {
        background-color: #ffffff;
        background-image: url(../images/arrow-top-xs-blue.png);
      }
    }
  }

  .panel-body {
    label {
      display: block;
      color: #494949;
      margin-bottom: 0px;
    }

    .line-item {
      margin-bottom: 10px;
    }

    .header-body {
      border-bottom: solid 1px #9f9f9f;
      padding-bottom: 10px;
      margin-bottom: 10px;
      color: #8a8a8a;
    }
  }
}

.pointer-none {
  pointer-events: none !important;
}

.outside-website {
  width: 100%;
  min-height: 700px;
  border: none;
}

.full-width {
  width: 100% !important;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.absolute_box {
  position: absolute;
}
.score-board{
  position: relative;
  height: 80px;
  top: -21px;
  width: 73%;
  display: table;
  background-color: white;
  margin: 0 auto;
}
.v-align{
  display: table-cell;
  vertical-align: middle;
}
.nopadding{
  padding:0px;
}
.tableized {
  display: table;
  height: 100%;
  margin: 0 auto;
}
.left-score-box{
  width:7em;height:7em;border:1px solid #eeeeee;
  background-color:#fff;
  z-index:3;
}
.score-board {
    border: 1px solid #eee;
    box-shadow: 5px 6px 8px -2px #d7d7d7;
    font-size: 3em;
    color: #0074bd;
}
.mid-score-box{
  height:2.7em;
  border:1px solid #eee;
  box-shadow: 5px 6px 8px -2px rgb(215, 215, 215);
  background-color:#fff;
  z-index:3;

}
.right-score-box {
    box-shadow: 5px 6px 8px -2px rgb(215, 215, 215);
    background-color: #0074bd;
    color: white;
    height: 2.7em;
    width: 5em;
  z-index:3;
}
.mid-second-score-box {
  height: 3.3em;
  box-shadow: 5px 6px 8px -2px rgb(215, 215, 215);
  background-color: #0074bd;
}
.video_event {
  margin: 0px 0px 15px;
  position: relative;
  z-index: 5;
}
.right-score-box:before {
  content: '';
  width: 600px;
  background-color: #0074bc;
  height: 2px;
  position: absolute;
  z-index: -1;
  left: -560px;
  display: table;
  top: 18px;
  box-shadow: 7px 2px 4px 2px #d7d7d7;
}
.date_match .day {
  font-size: 38px;
  font-weight: 800;
  color: #8a8a8a;
}
.date_match .month{
  position: relative;
  color: #8a8a8a;
  top: -10px;
}
.text-center {
    text-align: center !important;
}
hr.pocari_event {
    margin-top: 30px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #b5b5b5;
}
.trig_xss{
  margin-left:36px;
}
.box-headline-event{
  height:22em;
}
.box-event-container {
    border: 3px solid white;
    padding: 2em;
}
.align-mid{
  display:table;
  margin:0 auto;
}
.box-event-container h1 {
  font-family: 'DINNextLTProBold';
  font-size: 40px;
  color: white;
  margin: 0px;
  padding: 10px;
  text-align: center;
}
.box-event-container span {
  font-family: 'DINNextLTProBold';
  text-align: center;
  display: table;
  margin: 0 auto;
  font-size: 22px;
  color:white;
}
.nomargin_extreme{
  margin:0px !important;
}
.con-ev{
  background-image: url(../images/blue_background.jpg);
}
@media all and (max-width:767px){
  .col-sx-hide{
    display:none;
  }
  p.text-center.v-align.team_football {
      font-size: 10px !important;
      text-align: center !important;
  }
  .score-board{
    font-size:1.4em;
  }
  .trig_xss{
    margin-left:36px;
  }
  .right-score-box {
      box-shadow: 5px 6px 8px -2px #d7d7d7;
      background-color: #0074bd;
      color: white;
      height: 2.7em;
      width: 5em;
      z-index: 3;
      margin-left: -3px;
  }
}
@media all and (max-width:420px){
  .left-score-box {
    width:auto;
    height:auto;
    border: 1px solid #eeeeee;
    background-color: #fff;
    z-index: 3;
    margin: 0 auto;
    display: table;
    margin-bottom: 32px;
  }
  .col-xss-12{
    width:100%;
  }
  .trig_xss{
    margin-left:0px !important;
  }
  .score-board{
    width:100%;
  }
  .mid-score-box{
    height:3.5em;
  }
  .mid-second-score-box{
    margin-top:16px;
  }
  .right-score-box:before {
    display: none;
  }
  .right-score-box{
    margin: 0 auto;
    display: table;
    margin-top: 29px;
  }
  .box-event-container {
    border: 3px solid white;
    padding: 11px;
  }
  .box-event-container span, .box-event-container h1{
    padding:0em;
    font-size:80%;
  }
  .box-event-container h1{
    font-size:26px;
  }
  .box-event-container span{
    font-size:15px;
  }
  .con-ev {
      background-image: url(../images/blue_background.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
  }
}

$color_1: #0074bd;
$color_2: white;
$color_3: #8a8a8a;
$color_4: #717171;
$color_5: #0070bb;
$color_6: #70add4;
$color_7: #f39c12;
$color_8: #4da3f3;
$color_9: grey;
$font_family_1: 'futura';
$font_family_2: monospace;
$background_color_1: white;
$background_color_2: #fff;
$background_color_3: #0074bd;
$background_color_4: #0074bc;
$background_color_5: #000;
$background_color_6: #02c38a;
$border_color_1: #127cca transparent transparent;

/* Custom Select */
/* Arrow */
/* Transition */

.ruler .cm,
.ruler .mm {
  position: absolute;
  border-left: 1px solid #555;
  height: 43px;
  width: 10%;
  border-image: linear-gradient(to bottom, #72c6ff, rgba(64, 126, 168, 0.94)) 1 100%;
}
.range-slider {
  display: inline-block;
  width: 107%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 15px;
  -moz-background-size: 3px 100%;
  background-size: 2px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.absolute_box {
  position: absolute;
}
.score-board {
  position: relative;
  height: 80px;
  top: -21px;
  width: 73%;
  display: table;
  background-color: $background_color_1;
  margin: 0 auto;
  border: 1px solid #eee;
  box-shadow: 5px 6px 8px -2px #d7d7d7;
  font-size: 3em;
  color: $color_1;
}
.hail-hydra{
  color:$color_3 !important;
}
.no-pad-bottom{
  padding-bottom:0px !important;
  margin-bottom:0px !important;
}
.v-align {
  display: table-cell;
  vertical-align: middle;
}
.nopadding {
  padding: 0px;
}
.tableized {
  display: table;
  height: 100%;
  margin: 0 auto;
}
.left-score-box {
  width: 7em;
  height: 7em;
  border: 1px solid #eeeeee;
  // background-color: #fff;
}
.mid-score-box {
  height: 2.7em;
  border: 1px solid #eee;
  box-shadow: 5px 6px 8px -2px rgb(215, 215, 215);
  background-color: $background_color_2;
}
.right-score-box {
  box-shadow: 5px 6px 8px -2px rgb(215, 215, 215);
  background-color: $background_color_3;
  color: $color_2;
  height: 2.7em;
  width: 5em;
  &:before {
    content: '';
    width: 800px;
    background-color: $background_color_4;
    height: 2px;
    position: absolute;
    z-index: -1;
    left: -726px;
    display: table;
    top: 18px;
    box-shadow: 7px 2px 4px 2px #d7d7d7;
  }
}
.mid-second-score-box {
  height: 2.3em;
  box-shadow: 5px 6px 8px -2px rgb(215, 215, 215);
  background-color: $background_color_3;
}
.date_match {
  .day {
    font-size: 38px;
    font-weight: 800;
    color: $color_3;
  }
  .month {
    position: relative;
    color: $color_3;
    top: -10px;
  }
}
.morganisme {
  margin-left: 13%;
  padding: 0px;
}
.ruler {
  position: relative;
  width: 100%;
  margin: 0px;
  height: 0px;
  left: 15px;
  transform: rotate(180deg);
  top: -42px;
  .cm {
    &:after {
      position: absolute;
      bottom: -18px;
      font: 14px/1 sans-serif;
      left: -5px;
      transform: rotate(180deg);
      color: $color_4;
      font-family: $font_family_1;
    }
    &:before {
      content: 'Kg';
      position: absolute;
      transform: rotate(180deg);
      top: 47px;
      font-size: 10px;
      right: 48px;
      color: $color_5;
      font-weight: 800;
      @media all and (max-width:1240px){
        right:63px;
      }
      @media all and (max-width:1024px){
        right:52px;
      }
      @media all and (max-width:960px){
        right: 90px;
      }
      @media all and (max-width:760px){
        right: 73px;
      }
      @media all and (max-width:480px){
        display:none;
      }
    }
    &:nth-of-type(1) {
      left: 0%;
      &:after {
        content: "140";
      }
    }
    &:nth-of-type(2) {
      left: 10%;
      &:after {
        content: "130";
      }
    }
    &:nth-of-type(3) {
      left: 20%;
      &:after {
        content: "120";
      }
    }
    &:nth-of-type(4) {
      left: 30%;
      &:after {
        content: "110";
      }
    }
    &:nth-of-type(5) {
      left: 40%;
      &:after {
        content: "100";
      }
    }
    &:nth-of-type(6) {
      left: 50%;
      &:after {
        content: "90";
      }
    }
    &:nth-of-type(7) {
      left: 60%;
      &:after {
        content: "80";
      }
    }
    &:nth-of-type(8) {
      left: 70%;
      &:after {
        content: "70";
      }
    }
    &:nth-of-type(9) {
      left: 80%;
      &:after {
        content: "60";
      }
    }
    &:nth-of-type(10) {
      left: 90%;
      &:after {
        content: "50";
      }
    }
    &:nth-of-type(11) {
      left: 100%;
      &:after {
        content: "40";
      }
    }
  }
  .mm {
    height: 23px;
    &:nth-of-type(5) {
      height: 32px;
      left: 50%;
    }
    &:nth-of-type(1) {
      left: 10%;
    }
    &:nth-of-type(2) {
      left: 20%;
    }
    &:nth-of-type(3) {
      left: 30%;
    }
    &:nth-of-type(4) {
      left: 40%;
    }
    &:nth-of-type(6) {
      left: 60%;
    }
    &:nth-of-type(7) {
      left: 70%;
    }
    &:nth-of-type(8) {
      left: 80%;
    }
    &:nth-of-type(9) {
      left: 90%;
    }
    &:nth-of-type(10) {
      left: 100%;
    }
  }
  @media all and (max-width:960px){
    width:95%;
  }
}
.ruler.two {
  position: relative;
  width: 100%;
  margin: 0px;
  height: 0px;
  left: 15px;
  transform: rotate(180deg);
  top: -42px;
  .cm {
    &:after {
      position: absolute;
      bottom: -18px;
      font: 14px/1 sans-serif;
      left: -5px;
      transform: rotate(180deg);
      color: $color_4;
      font-family: $font_family_1;
    }
    &:before {
      content: 'Cm';
      position: absolute;
      transform: rotate(180deg);
      top: 47px;
      font-size: 10px;
      right: 48px;
      color: $color_5;
      font-weight: 800;
      @media all and (max-width:1240px){
        right:63px;
      }
      @media all and (max-width:1024px){
        right:52px;
      }
      @media all and (max-width:960px){
        right: 90px;
      }
      @media all and (max-width:760px){
        right: 73px;
      }
      @media all and (max-width:480px){
        display:none;
      }
    }
    &:nth-of-type(1) {
      left: 0%;
      &:after {
        content: "200";
      }
    }
    &:nth-of-type(2) {
      left: 10%;
      &:after {
        content: "190";
      }
    }
    &:nth-of-type(3) {
      left: 20%;
      &:after {
        content: "180";
      }
    }
    &:nth-of-type(4) {
      left: 30%;
      &:after {
        content: "170";
      }
    }
    &:nth-of-type(5) {
      left: 40%;
      &:after {
        content: "160";
      }
    }
    &:nth-of-type(6) {
      left: 50%;
      &:after {
        content: "150";
      }
    }
    &:nth-of-type(7) {
      left: 60%;
      &:after {
        content: "140";
      }
    }
    &:nth-of-type(8) {
      left: 70%;
      &:after {
        content: "130";
      }
    }
    &:nth-of-type(9) {
      left: 80%;
      &:after {
        content: "120";
      }
    }
    &:nth-of-type(10) {
      left: 90%;
      &:after {
        content: "110";
      }
    }
    &:nth-of-type(11) {
      left: 100%;
      &:after {
        content: "100";
      }
    }
  }
  .mm {
    height: 23px;
    &:nth-of-type(5) {
      height: 32px;
      left: 50%;
    }
    &:nth-of-type(1) {
      left: 10%;
    }
    &:nth-of-type(2) {
      left: 20%;
    }
    &:nth-of-type(3) {
      left: 30%;
    }
    &:nth-of-type(4) {
      left: 40%;
    }
    &:nth-of-type(6) {
      left: 60%;
    }
    &:nth-of-type(7) {
      left: 70%;
    }
    &:nth-of-type(8) {
      left: 80%;
    }
    &:nth-of-type(9) {
      left: 90%;
    }
    &:nth-of-type(10) {
      left: 100%;
    }
  }
  @media all and (max-width:960px){
    width:95%;
  }
}
.range-slider {
  display: inline-block;
  width: 102%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 15px;
  >input {
    opacity: 0;
    width: 102%;
    position: relative;
    z-index: 5;
    margin-top: 72px;
    -webkit-appearance: none;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      z-index: 100;
      position: relative;
      width: 50px;
      height: 30px;
      -webkit-border-radius: 10px;
    }
  }
  >span.slider-container {
    min-height: 0px;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: -7px;
    right: 46px;
    z-index: 3;
    width:97.6%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    >span.bar {
      background-color: $background_color_5;
      display: inline-block;
      position: absolute;
      z-index: 1;
      top: 12px;
      left: 10px;
      right: -42px;
      height: 11px;
      overflow: hidden;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      display: none;
      >span {
        background: #02c38a;
        display: inline-block;
        float: left;
        height: 11px;
        width: 0%;
      }
    }
    >span.bar-btn {
      display: inline-block;
      position: absolute;
      width: 46px;
      height: 30px;
      padding-top: 4px;
      font-weight: bold;
      text-align: left;
      padding: 3px 7px 5px;
      background: #fff;
      top: 30px;
      border-top: 2px solid #5baefd;
      background-image: linear-gradient(#5baefd, #127dc9), linear-gradient(#5baefd, #127dc9);
      -moz-background-size: 3px 100%;
      background-size: 2px 100%;
      background-position: 0 0, 100% 0;
      background-repeat: no-repeat;
      border-bottom: 2px solid #127dc9;
      &:after {
        content: "";
        border: 2px solid #fff;
        background-color: $background_color_6;
        border-radius: 20px;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        left: 8px;
        top: 63px;
        z-index: 3;
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        display: none;
      }
      >span {
        &:before {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border-width: 16px 12px 29px 12px;
          border-style: solid;
          border-color: $border_color_1;
          position: absolute;
          top: -52px;
          left: 10px;
          transform: rotate(180deg);
        }
        &:after {
          content: 'Kg';
          position: absolute;
          font-size: 5px;
          color: $color_5;
          font-weight: 800;
          top: 13px;
        }
      }
    }
  }
  @media all and (max-width:960px){
    width:97%;
  }
}
.range-slider > span.slider-container > span.bar-btn > span:after{
  content:'Cm';
}
.range-slider > span.slider-container.two > span.bar-btn > span:after{
  content:'Kg';
}
.stick_bottom {
  position: relative;
  display: flex;
  height: 100%;
  top: 47px;
  left: 5px;
  @media all and (max-width:1024px){
    margin-bottom: 25px;
  }
}
.actions.increment_substract {
  display: inherit;
}
.labelism {
  position: relative;
  top: 6px;
  margin: 0px 5px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border-radius: 3px !important;
  background: white;
  background-image: none;
  width: 100%;
  height: 100%;
  margin: 0;
  color: $color_6;
  cursor: pointer;
  padding: 0px 10px;
  border: 1px solid #e2e2e2;
  &::-ms-expand {
    display: none;
  }
}
.select {
  position: relative;
  display: block;
  width: 7em;
  height: 3em;
  line-height: 3;
  color: $color_6;
  border-radius: .25em;
  &.dreadlock:after{
    display:none;
  }
  &::after {
    content: '\005e';
    font-family: $font_family_2;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0;
    padding: 0 1em;
    background: transparent;
    pointer-events: none;
    transform: rotate(180deg);
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    @media all and (max-width:420px){
      right: -8px;
    }
  }
  &:hover {
    &::after {
      color: $color_7;
    }
  }
  &.date{
    @media all and (max-width:480px){
      width:4.3em;
    }
  }
}
label.hail-hydra.middle {
    padding-top: 9px;
}
button#subtract.ruler_minus {
  border-radius: 50%;
  border: 2px solid #4da3f3;
  color: $color_8;
  width: 30px;
  height: 29px;
  background: linear-gradient(to bottom, #f9f9f9 60%,#b7b7b7 150%);
  box-shadow: 2px 2px 1px #e5e4e4;
  margin-right: 5px;
}
button#add.ruler_plus {
  border-radius: 50%;
  border: 2px solid #4da3f3;
  color: $color_8;
  width: 30px;
  height: 29px;
  background: linear-gradient(to bottom, #f9f9f9 60%,#b7b7b7 150%);
  box-shadow: 2px 2px 1px #e5e4e4;
  margin-right: 5px;
}
input.knob {
  border-radius: 50% !important;
  background: linear-gradient(45deg, #1e5799 0%,#3f9aed 100%) !important;
  color: $color_2 !important;
  margin-top: 60px !important;
  margin-left: -138px !important;
  width: 75px !important;
  height: 75px !important;
  font-size: 30px !important;
}
.ghost-text {
  display: inline-block;
  position: relative;
  &:after {
    content: 'Temp';
    position: relative;
    display: table;
    color: $color_9;
    margin: 0 auto;
    font-family: $font_family_1;
    top: -60px;
  }
}
.stick_middle {
  position: relative;
  display: flex;
  height: 100%;
  top: 84px;
  left: -74px;
}
@media all and (max-width:767px) {
  .score-board {
    font-size: 2em;
  }
  .team_football {
    font-size: 11px;
  }
  .right-score-box {
    &:before {
      content: '';
      width: 300px;
      background-color: $background_color_4;
      height: 2px;
      position: absolute;
      z-index: -1;
      left: -279px;
      display: table;
      top: 18px;
      box-shadow: 7px 2px 4px 2px #d7d7d7;
    }
  }
  .morganisme {
    margin-left: 0px;
  }
}
.form-group.tools_pocarisweat{
  label{
    text-align: left;
  }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.pxSpan {
  float: right;
  margin-right: 30px;
  font-weight: 800;
  font-size: 14px;
  color: #808080;
}
.mcenter {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  float: none;
  @media all and (max-width:480px){
    display: inline-table;
  }
}
.form-group.tools_pocarisweat input {
    border: 1px solid #e2e2e2 !important;
    width: 130px;
    color: grey !important;
    font-weight: 800;
    font-size: 30px !important;
    padding: 15px !important;
    height: 60px !important;
}
.absolute-content.form{
z-index:-1 !important;
background:none !important;
}
button.pocari_submit.button {
  border: 1px solid transparent;
  background-color: #0067a9;
  color: white;
  padding: 15px;
  font-weight: 800;
  font-size: 20px;
}
select option:checked{
  color:#80b7d9;
}
input::-webkit-input-placeholder {
color: #80b7d9 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #80b7d9 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #80b7d9 !important;
}

input:-ms-input-placeholder {
color: #80b7d9 !important;
}
.modal {
  text-align: center;
  padding: 0!important;
}
.modal-header {
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
    background-color: #0067a9;
  .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: white;
    text-shadow: 0 0px 0 #fff;
    opacity: 1;
    filter: alpha(opacity=20);
  }
}
h4.modal-title.hail-hydra {
    color: white !important;
}
.btn-default:hover {
    background-color: #0073be !important;
    color: white !important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
span.danger.form {
    font-weight: 800;
    color: #cd2323;
}
.show_message{
  display:none;
}
